@use "../modules/utilities/maps";
@use "../modules/utilities/functions" as fn;
@use "./banner.scss";
@use "./globals.scss";
@use "./custom-props.scss";

$borders: (
  "border-sm": 0.5rem,
);

* {
  @include maps.cp(globals.$globals);
}

:root {
  @include maps.customProperties(custom-props.$tokens);
  @include maps.cp(banner.$tokens, banner.$prefix);
  width: var(--w);
  height: var(--h);
  min-width: var(--min-w);
  min-height: var(--min-h);
  font-size: var(--fs, initial);
  font-family: var(--ff, initial);
  font-weight: var(--fw, initial);
  font-style: var(--style, initial);
}
