// set variables
// TODO Search and replace name with CSS tag/element name

@use './utilities/maps';

$render: true !default;
$tokens: (
  'w': '30%',
  'flex': '1 1 30%'
);
// render component mixin
@mixin renderComponent($renderContent: $render, $className: null) {
  @if ($renderContent) {
    #{if($className, $className, '.fp-grid')},
    section,
    div,
    ul {
      &[role='list'] {
        @include maps.customProperties($tokens, 'grid');
        --grid-size: 30%;
        --flex: var(--flex);
        @include flex-grid();
      }
    }
  }
}

@mixin ariaGrid($className: null) {
}

@mixin flex-grid {
  display: var(--dsp-f, flex);
  flex-wrap: var(--wrap, wrap);
  justify-content: var(--justify-b, space-between);
  gap: var(--gap, 1rem);

  [role='listitem'],
  [style*='--card'] {
    flex-direction: var(--card-direction, column);
    --dsp: flex;
    flex: var(--grid-flex);
    line-height: 1.6;
    width: var(--grid-w);
    > * + * {
      --mt: 1rem;
      margin-top: var(--mt, 1rem);
    }

    @media (min-width: 1680px) {
      --grid-flex: 1 1 24%;
      --grid-w: 24%;
    }

    @media (max-width: 980px) {
      --grid-flex: 1 1 48%;
      --grid-w: 48%;
    }

    @media (max-width: 680px) {
      --grid-flex: 1 1 98%;
      --grid-w: 49%;
    }
    section {
      --dsp: flex;
      --direction: column;
      --grow: 1;
      --flex: 2;
    }
  }
}

// include render component
@include renderComponent();
