$renderMain: true !default;

$min-height: 30vh !default;

$tokens: (
  min-height: $min-height
);

@mixin main($renderContent: $renderMain, $className: null) {
  @if ($renderContent) {
    #{if($className, $className, '.fp-main')},
    main {
      padding-block: 0;
      @include mix-main();
    }
  }
}

@mixin mix-main {
  min-height: var(--min-h var(--min-height));
  padding-block: var(--md);
  > section {
    --px: 0;
    width: 100%;
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 2rem;

    section {
      padding-top: 0;
    }
  }

  article + aside,
  section + aside {
    // width: 100%;
    min-width: 25%;
    font-size: 0.95rem;
  }

  footer {
    --fs: var(--sm);
    font-size: var(--fs);
    padding: 0.7rem 0;
    margin-top: 1rem;
    // border-top: solid 1px whitesmoke;
  }

  @media all and (min-width: 1280px) {
    display: flex;

    > section {
      max-width: 75%;
    }

    align-items: flex-start;

    section + aside,
    aside + section,
    section + [role='complementary'],
    [role='complementary'] + section {
      padding: 0 1rem 0 1.5rem;
      min-width: 25%;
      max-width: 25%;
    }
  }
}

@include main();
