/* stylelint-disable declaration-colon-newline-after */
/* stylelint-disable declaration-empty-line-before */
/* stylelint-disable declaration-colon-newline-after */
:where(main, section, article, footer, header),
[style*="--bx"] {
  --bx-flow: column wrap;
  --bx-align: flex-start;
  --bx-justify: flex-start;

  display: var(--bx-dsp, var(--dsp, block));
  margin-inline: var(--bx-x, var(--mx, initial));
  margin-block: var(--bx-y, var(--my, initial));
  max-width: var(--bx-max-w, 100%);
  width: var(--bx-w, var(--w, initial));
  height: var(--bx-h, var(--h, initial));
  min-width: var(--bx-min-w, initial);
}

[style*="--bx-flex"] {
  --bx-dsp: var(--bx-flex-dsp, flex);

  flex-flow: var(--bx-flex-flow, var(--flow));
  align-items: var(--bx-flex-align, var(--bx-align));

  justify-content: var(
    --bx-flex-justify,
    var(--bx-justify)
  );
}

[style*="--card"],
[style*="--cd"] {
  --cd-sm: 1rem;
  --cd-md: 1.5rem;
  --cd-lg: 2rem;
  --cd-xl: 3rem;
  // TODO: decide which variable name works best
  --card-sm: 1rem;
  --card-md: 1.5rem;
  --card-lg: 2rem;
  --card-xl: 3rem;
  --cd-shadow-sm: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.1);
  --cd-shadow-md: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  --cd-shadow-lg: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);

  padding: var(--card, var(--card-sm));
  border-radius: var(--card-radius, 0.2rem);
  background-color: var(--card-bg, var(--bg, #fff));
  box-shadow: var(--cd-shadow);
  border: var(--card-border, thin solid whitesmoke);
}
