@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  color: inherit;
  margin: 0rem 0 1.05rem;
  font-weight: 500;
  word-break: normal;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 9rem;
}

small,
time {
  font-size: 0.8rem;
}

time {
  padding: 0 0 0.5rem;
}

p {
  margin: 0;
  line-height: 1.7;
}

p + p {
  margin-top: 2rem;
}

.fp-main,
main {
  min-height: 30rem;
}

.fp-main > section,
main > section {
  width: 100%;
  font-size: 1rem;
  padding-bottom: 2rem;
}

.fp-main > section > * + *,
main > section > * + * {
  margin-top: 2rem;
}

.fp-main article + article,
main article + article {
  margin-top: 2rem;
}

.fp-main article + aside,
.fp-main section + aside,
main article + aside,
main section + aside {
  min-width: 25%;
  font-size: 0.95rem;
}

.fp-main footer,
main footer {
  font-size: 0.8rem;
  padding: 0.7rem 0;
  margin-top: 1rem;
}

@media all and (min-width: 1280px) {
  .fp-main,
  main {
    display: flex;
    align-items: flex-start;
  }

  .fp-main > section,
  main > section {
    max-width: 75%;
  }

  .fp-main section + aside,
  .fp-main aside + section,
  .fp-main section + [role='complementary'],
  .fp-main [role='complementary'] + section,
  main section + aside,
  main aside + section,
  main section + [role='complementary'],
  main [role='complementary'] + section {
    padding: 0 1rem 0 1.5rem;
    min-width: 25%;
    max-width: 25%;
  }
}
.fp-footer,
footer[role='contentinfo'] {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  border-top: solid 1px whitesmoke;
  padding: 2rem 0;
}

.fp-footer section,
footer[role='contentinfo'] section {
  display: flex;
  justify-content: center;
}

.fp-footer section > div,
footer[role='contentinfo'] section > div {
  flex: 1;
}

@media (min-width: 980px) {
  .fp-footer section,
  footer[role='contentinfo'] section {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    padding: 1rem;
  }

  .fp-footer section > aside + aside,
  .fp-footer section > div + div,
  footer[role='contentinfo'] section > aside + aside,
  footer[role='contentinfo'] section > div + div {
    margin-left: 1rem;
  }
}
.fp-grid [role='list'],
section [role='list'] {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.fp-grid [role='list'] [role='listitem'],
section [role='list'] [role='listitem'] {
  flex: 1 1 100%;
  padding: 1rem;
  line-height: 1.6;
}

@media all and (min-width: 780px) {
  .fp-grid [role='list'] [role='listitem'],
  section [role='list'] [role='listitem'] {
    flex: 1 1 48%;
  }
}
@media all and (min-width: 992px) {
  .fp-grid [role='list'] [role='listitem'],
  section [role='list'] [role='listitem'] {
    flex: 1 1 28%;
  }
}
.fp-button,
button[type] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  border-radius: 0.1rem;
  border: 1px transparent solid;
  cursor: pointer;
  margin-bottom: 0.7rem;
  font-weight: normal;
}

.fp-button:hover,
.fp-button:active,
.fp-button:focus,
button[type]:hover,
button[type]:active,
button[type]:focus {
  border: 1px transparent solid;
}

.fp-button[type='reset'],
.fp-button[type='button'],
.fp-button[type='submit'],
button[type][type='reset'],
button[type][type='button'],
button[type][type='submit'] {
  padding: 0.6rem 1.5rem;
  border: 1px solid #e4e4e4;
}

.fp-button[type='reset']:hover,
.fp-button[type='reset']:active,
.fp-button[type='reset']:focus,
.fp-button[type='button']:hover,
.fp-button[type='button']:active,
.fp-button[type='button']:focus,
.fp-button[type='submit']:hover,
.fp-button[type='submit']:active,
.fp-button[type='submit']:focus,
button[type][type='reset']:hover,
button[type][type='reset']:active,
button[type][type='reset']:focus,
button[type][type='button']:hover,
button[type][type='button']:active,
button[type][type='button']:focus,
button[type][type='submit']:hover,
button[type][type='submit']:active,
button[type][type='submit']:focus {
  background-color: transparent;
  background-color: #cbcbcb;
  border: 1px solid #e4e4e4;
}

.fp-form > div + div,
form > div + div {
  margin-top: 1rem;
}

.fp-form label[for],
form label[for] {
  font-size: 0.9rem;
  display: block;
}

.fp-form label[for] em,
form label[for] em {
  font-style: normal;
}

.fp-form label[for] em::after,
form label[for] em::after {
  content: '∗';
  color: darkred;
}

.fp-form input[id],
.fp-form textarea[id],
.fp-form select[id],
form input[id],
form textarea[id],
form select[id] {
  background-color: transparent;
  display: flex;
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
  width: 98%;
  border: 1px solid lightgray;
  border-radius: 0.1rem;
}

.fp-form input[id]:focus,
.fp-form input[id]:focus-within,
.fp-form textarea[id]:focus,
.fp-form textarea[id]:focus-within,
.fp-form select[id]:focus,
.fp-form select[id]:focus-within,
form input[id]:focus,
form input[id]:focus-within,
form textarea[id]:focus,
form textarea[id]:focus-within,
form select[id]:focus,
form select[id]:focus-within {
  border: 1px solid gray;
  outline-color: gray;
}

.fp-form input[id]::placeholder,
.fp-form textarea[id]::placeholder,
.fp-form select[id]::placeholder,
form input[id]::placeholder,
form textarea[id]::placeholder,
form select[id]::placeholder {
  font-style: italic;
  color: lightgrey;
}

img[alt] {
  max-width: 100%;
  height: auto;
}

img[alt]::after {
  min-height: 48px;
  height: 100%;
  width: 100%;
  content: '•' ' ' attr(alt);
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 0.1rem;
  color: gray;
  background-repeat: no-repeat;
  text-transform: uppercase;
  border: 1px solid lightgray;
}

.fp-picture,
picture {
  display: flex;
  max-width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
}

.fp-picture > img[alt],
picture > img[alt] {
  width: 100%;
  height: auto;
  position: relative;
}

.fp-list ol,
ul,
dl {
  padding-left: 1rem;
  list-style: disc;
}

.fp-list ol > * + *,
ul > * + *,
dl > * + * {
  margin-top: 0.5rem;
}

.fp-list ol > *,
ul > *,
dl > * {
  line-height: 1.5;
}

span > ol,
span ul {
  list-style: none;
  margin-left: 0rem;
  padding-left: 0rem;
}

.fp-hr,
hr {
  border: none;
  background-color: transparent;
  border-top: 1px solid whitesmoke;
  margin: 2rem 0;
}

code {
  color: #d63384;
}

a {
  color: #0d6efd;
}

a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #012e70;
}

blockquote {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: normal;
  padding: 1rem;
  padding-left: 2rem;
  border-left: whitesmoke 3px solid;
}

ul,
ol {
  margin-bottom: 1rem;
}
