h1,
h2,
h3,
h4,
h5,
h6,
p {
  --fw: var(--fw-medium, 500);
  --fx-weight: var(--fw-medium);
  --fs: inherit;

  line-height: var(--lh);
  color: var(--cl);
  margin: var(--m);
  font-size: inherit;
  text-shadow: var(--shadow);
  padding-block: var(--py, var(--p));
  padding-inline: var(--px, var(--p));
  display: var(--dsp, block);
}

p,
[style*="--p"] {
  --p-sm: var(--sm);
  --p-md: var(--md);
  --p-lg: var(--lg);
  --fw: normal;
  --lh: 1.7;
  --spacing: 0.5rem;


  margin: var(--p-m, 0);
  line-height: var(--lh, 1.6);
  word-spacing: 0.05rem;
  font-size: clamp(.9rem, 3vw - 1.5rem, 1rem);

  i {
    font-style: italic;
  }

  strong {
    font-weight: var(--fw-medium);
  }
}

article > p {
  font-size: clamp(.9rem, 3vw - 1.5rem, 1.3rem);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--fs);
  font-weight: var(--fw);

  + p {
    margin-top: var(--rem);
  }
  &[role="decoration"] {
    font-weight: var(--h-fw, 500);
  }
}

h1 {
  --fs: var(--fs-7);
  &[role="decoration"] {
    font-size: var(--h1);
  }
}

h2 {
  --fs: var(--fs-6);

  &[role="decoration"] {
    font-size: var(--h2);
  }
}

h3 {
  --fs: var(--fs-5);
  &[role="decoration"] {
    font-size: var(--h3);
  }
}

h4 {
  --fs: var(--fs-4);

  &[role="decoration"] {
    font-size: var(--h4);
  }
}

h5 {
  --fs: var(--fs-3);
  &[role="decoration"] {
    font-size: var(--h5);
  }
}

h6 {
  --fs: var(--fs-2);
  &[role="decoration"] {
    font-size: var(--h6);
  }
}

small,
time {
  --fs: var(--s1);
}

time {
  padding: 0 0 0.5rem;
}

p + p,
p + * {
  margin-top: var(--fs-0);
}

[style*="--truncate"] {
  --truncate-lns: 1;
  --clamp: var(--truncate, var(--truncate-lns));
  --dsp: --webkit-box;

  -webkit-box-orient: vertical;
  overflow: hidden;
}
