h1,
h2,
h3,
h4,
h5,
h6,
p {
  --h1: var(--4xl);
  --h2: var(--3xl);
  --h3: var(--2xl);
  --h4: var(--xl);
  --h5: var(--lg);
  --h6: var(--md);
  --fw: var(--fw-medium);
  --fx-weight: var(--fw-medium);

  line-height: var(--lh);
  color: var(--cl);
  margin: var(--m);
  font-weight: var(--fw);
  overflow-wrap: var(--overflow);
  word-break: var(--word-break, break-word);
  text-shadow: var(--shadow);
  padding-block: var(--py, var(--p));
  padding-inline: var(--px, var(--p));
  display: var(--dsp, block);
}

p,
[style*="--p-"] {
  --p-sm: var(--sm);
  --p-md: var(--md);
  --p-lg: var(--lg);
  --fs: var(--p-fs, var(--rem));
  --fw: normal;
  --lh: 1.7;

  margin: var(--p-m, 0);

  i {
    font-style: italic;
  }

  strong {
    font-weight: var(--fw-medium);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--fs);

  --h1: var(--4xl);
  --h2: var(--3xl);
  --h3: var(--2xl);
  --h4: var(--xl);
  --h5: var(--lg);
  --h6: var(--md);
  --ff: var(--ff-inter);

  + p {
    margin-top: var(--rem);
  }
}

h1 {
  --fs: var(--4xl);
}

h2 {
  --fs: var(--3xl);
}

h3 {
  --fs: var(--2xl);
}

h4 {
  --fs: var(--xl);
}

h5 {
  --fs: var(--lg);
}

h6 {
  --fs: var(--md);
}

small,
time {
  --fs: var(--s1);
}

time {
  padding: 0 0 0.5rem;
}

p + p,
p + * {
  margin-top: var(--rem);
}

[style*="--truncate"] {
  --truncate-lns: 1;
  --clamp: var(--truncate, var(--truncate-lns));
  --dsp: --webkit-box;

  -webkit-box-orient: vertical;
  overflow: hidden;
}
