<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>FirstPaint</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap"
      rel="stylesheet"/>
    <script src="https://cdn.accesslint.com/accesslint-1.1.2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@khanacademy/tota11y@0.2.0/dist/tota11y.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@speed-highlight/core@1.1.6/dist/themes/dark.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/modern-css-reset/dist/reset.min.css"/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shawnsandy/first-paint@2.4.0/src/v2/components/layouts/cover.scss"/>
    {% block styles %}
      <link rel="stylesheet" href="/v2/css/index.css"/>
    {% endblock %}
    {% import "_partials/sandbox.html" as box with context %}
  </head>
  <body class="{{ title | slug }}">
    <header>
      {% block nav %}
        {% include "./_partials/navbar-mobile.html" %}
      {% endblock %}
      <!-- banner -->
      {% block header %}
        {% include "./_partials/header.html" %}
      {% endblock %}
    </header>
    <!-- feature section -->
    {% block feature %}
      <section aria-label="feature">
        {% include "./_partials/grid.html" %}
      </section>
      {% include "./_partials/grid-component.html" %} <hr/>
    {% endblock %}
    <main>
      {% block main %}
        {%- include "_partials/main-content.html" %}
      {% endblock %}
    </main>
    {% block footer %}
      {% include "./_partials/footer.html" %}
      <script src="https://cdn.jsdelivr.net/gh/speed-highlight/core/dist/index.js"></script>
    {% endblock %}
    {# <script src="https://cdn.jsdelivr.net/npm/@shawnsandy/code-clipper@0.2.0/lib/clipper.min.js"></script> #}
    {% block scripts %}{% endblock %}
  </body>
</html>
