@charset "UTF-8";
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 90%;
}
@media (min-width: 980px) {
  html {
    font-size: 98%;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 100%;
  }
}
@media (min-width: 1980px) {
  html {
    font-size: 110%;
  }
}
html * {
  outline: none;
}
html *,
html *:before,
html *:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #ffffff;
  color: #262626;
}
body > section, body > main, body > header > section, body > footer > section {
  max-width: 90%;
  margin: 0 auto;
}
@media (min-width: 980px) {
  body > section, body > main, body > header > section, body > footer > section {
    width: 90%;
    max-width: 93.75rem;
  }
}
@media (min-width: 1980px) {
  body > section, body > main, body > header > section, body > footer > section {
    width: 80%;
    font-size: 110%;
  }
}
body [role=region][aria-label] {
  width: 100%;
  max-width: 100%;
}

[data-show-mobile] {
  display: flex;
  visibility: visible;
}

[data-show-desktop] {
  display: none;
}

@media (min-width: 980px) {
  [data-show-mobile] {
    display: none;
  }

  [data-show-desktop] {
    display: inline-flex;
  }
}
[data-brand] img[alt] {
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  max-height: 2rem;
}
[data-brand] img[alt] + * {
  margin-left: 1rem;
}
[data-brand] h1,
[data-brand] h2,
[data-brand] h3,
[data-brand] h5 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  color: inherit;
  margin: 0rem 0 1.05rem;
  font-weight: 500;
  word-break: normal;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

small,
time {
  font-size: 0.85rem;
}

time {
  padding: 0 0 0.5rem;
}

p {
  margin: 0;
  line-height: 1.7;
}
p i {
  font-style: italic;
}
p strong {
  font-weight: 500;
}

p + p,
p + * {
  margin-top: var(--rem);
}

p + * {
  margin-top: 1.5rem !important;
}

nav {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  margin: 0 auto;
  margin-bottom: 0rem;
  border-bottom: none;
  width: 100%;
}
@media (max-width: 980px) {
  nav [data-mobile] {
    display: none;
    visibility: hidden;
  }
}
@media (min-width: 980px) {
  nav {
    display: flex;
    align-items: center;
    visibility: visible;
    flex-direction: row;
    justify-content: space-between !important;
    margin-bottom: 0;
    padding: 0.5rem 0;
    width: 80%;
    max-width: 93.75rem;
  }
}
@media (max-width: 980px) {
  nav:target {
    display: flex;
    visibility: visible;
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0rem;
    padding: 2rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.95);
  }
  nav:target ul {
    margin-left: 0;
    padding: 0;
  }
}
nav[data-mobile] > section {
  width: auto !important;
}
@media (max-width: 980px) {
  nav[data-mobile] > section:not(:first-child) {
    display: none;
    visibility: hidden;
  }
  nav[data-mobile] > section:target {
    display: flex;
    visibility: visible;
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0rem;
    padding: 2rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.95);
  }
  nav[data-mobile] > section:target ul {
    margin-left: 0;
    padding: 0;
  }
}
nav section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
}
@media (max-width: 980px) {
  nav section:target {
    display: flex;
    visibility: visible;
    position: absolute;
    z-index: 99;
    right: 0;
    left: 0;
    top: 0rem;
    padding: 2rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.95);
  }
  nav section:target ul {
    margin-left: 0;
    padding: 0;
  }
}
nav section[role=region][aria-label] {
  flex-direction: row;
  justify-content: space-between;
}
nav section li,
nav section a {
  margin-top: 0rem;
}
nav section li {
  height: inherit;
  display: block;
  align-items: left;
  margin-top: 0;
  padding: 0.5rem;
}
nav section li + li {
  margin-top: 0;
}
@media (min-width: 960px) {
  nav section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0;
  }
  nav section li,
nav section a {
    margin-top: 0;
  }
  nav section [role=region][aria-label] {
    width: auto;
    max-width: auto;
  }
}
nav section a {
  padding: 0 0.5rem;
  font-size: 0.9rem;
  text-decoration: none;
}
nav section button[type],
nav section a[role=button] {
  margin-bottom: 0;
}
nav section ul {
  min-height: 3.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
@media (min-width: 980px) {
  nav section ul {
    display: flex;
  }
}
nav h1,
nav [aria-label="brand name"] {
  display: block;
  text-align: center;
  height: 100%;
  margin: 0;
  line-height: normal;
  font-size: 1.5rem;
  padding: 0.5rem;
}
@media (min-width: 960px) {
  nav h1,
nav [aria-label="brand name"] {
    display: flex;
    align-items: center;
  }
}
nav h1 a,
nav [aria-label="brand name"] a {
  font-size: 1.5rem;
  padding: 0;
}

.fp-header,
header > [role=banner] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 25rem;
}
.fp-header > section,
.fp-header > div,
header > [role=banner] > section,
header > [role=banner] > div {
  text-align: center;
}

.fp-main,
main {
  min-height: 30vh;
  padding: 2rem 0;
}
.fp-main > section,
main > section {
  width: 100%;
  font-size: 1rem;
  padding-bottom: 2rem;
}
.fp-main > section > * + *,
main > section > * + * {
  margin-top: 2rem;
}
.fp-main article + aside,
.fp-main section + aside,
main article + aside,
main section + aside {
  min-width: 25%;
  font-size: 0.95rem;
}
.fp-main footer,
main footer {
  font-size: 0.95rem;
  padding: 0.7rem 0;
  margin-top: 1rem;
}
@media all and (min-width: 1280px) {
  .fp-main,
main {
    display: flex;
    align-items: flex-start;
  }
  .fp-main > section,
main > section {
    max-width: 75%;
  }
  .fp-main section + aside,
.fp-main aside + section,
.fp-main section + [role=complementary],
.fp-main [role=complementary] + section,
main section + aside,
main aside + section,
main section + [role=complementary],
main [role=complementary] + section {
    padding: 0 1rem 0 1.5rem;
    min-width: 25%;
    max-width: 25%;
  }
}

.fp-footer,
footer[role=contentinfo] {
  display: block;
  flex-direction: column;
  font-size: 0.9rem;
  border-top: solid 1px whitesmoke;
  margin-top: 1rem;
}
.fp-footer section,
footer[role=contentinfo] section {
  display: block;
  justify-content: center;
}
.fp-footer section > div,
footer[role=contentinfo] section > div {
  flex: 1;
  margin-bottom: 1rem;
}
@media (min-width: 980px) {
  .fp-footer section,
footer[role=contentinfo] section {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    padding: 1rem;
  }
  .fp-footer section > div + div,
footer[role=contentinfo] section > div + div {
    margin-left: 1rem;
  }
}
.fp-footer > div,
footer[role=contentinfo] > div {
  padding: 1rem;
}
.fp-footer > div p,
footer[role=contentinfo] > div p {
  text-align: center;
}

.fp-grid[role=list],
section[role=list],
div[role=list] {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.2rem;
}
.fp-grid[role=list] [role=listitem],
section[role=list] [role=listitem],
div[role=list] [role=listitem] {
  flex: 1 1 100%;
  line-height: 1.6;
  padding: 1rem;
}
@media all and (min-width: 780px) {
  .fp-grid[role=list] [role=listitem],
section[role=list] [role=listitem],
div[role=list] [role=listitem] {
    flex: 1 1 48%;
  }
}
@media all and (min-width: 992px) {
  .fp-grid[role=list] [role=listitem],
section[role=list] [role=listitem],
div[role=list] [role=listitem] {
    flex: 1 1 28%;
  }
}

/**
TODO: deprecate this mixin
**/
.fp-button,
button[type] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightgray;
  border-radius: 0.1rem;
  border: 1px transparent solid;
  cursor: pointer;
  margin-bottom: 0.7rem;
  font-weight: normal;
  line-height: 1;
  transition: all 200ms ease;
}
.fp-button:hover, .fp-button:active, .fp-button:focus,
button[type]:hover,
button[type]:active,
button[type]:focus {
  border: 1px transparent solid;
  transform: scale(0.98);
}
.fp-button[type=reset], .fp-button[type=button], .fp-button[type=submit],
button[type][type=reset],
button[type][type=button],
button[type][type=submit] {
  padding: 0.85rem 1.8rem;
  border: 1px solid #e4e4e4;
}
.fp-button[type=reset]:hover, .fp-button[type=reset]:active, .fp-button[type=reset]:focus, .fp-button[type=button]:hover, .fp-button[type=button]:active, .fp-button[type=button]:focus, .fp-button[type=submit]:hover, .fp-button[type=submit]:active, .fp-button[type=submit]:focus,
button[type][type=reset]:hover,
button[type][type=reset]:active,
button[type][type=reset]:focus,
button[type][type=button]:hover,
button[type][type=button]:active,
button[type][type=button]:focus,
button[type][type=submit]:hover,
button[type][type=submit]:active,
button[type][type=submit]:focus {
  background-color: transparent;
  background-color: #cbcbcb;
  border: 1px solid #e4e4e4;
}

> div + div {
  margin-top: 1rem;
}

label[for] {
  font-size: 0.9rem;
  display: block;
}
label[for] em {
  font-style: normal;
}
label[for] em::after {
  content: "∗";
  color: darkred;
}

input[id],
textarea[id],
select[id] {
  background-color: transparent;
  display: flex;
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
  width: 98%;
  border: thin solid lightgray;
  border-radius: 0.1rem;
}
input[id]:focus, input[id]:focus-within,
textarea[id]:focus,
textarea[id]:focus-within,
select[id]:focus,
select[id]:focus-within {
  border: thin solid gray;
  outline-color: gray;
}
input[id]::placeholder,
textarea[id]::placeholder,
select[id]::placeholder {
  font-style: italic;
  color: lightgrey;
}

img[alt] {
  max-width: 100%;
  height: auto;
}
img[alt]::after {
  min-height: 48px;
  height: 12.5rem;
  width: 12.5rem;
  content: "•" " " attr(alt);
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 0.1rem;
  color: gray;
  background-repeat: no-repeat;
  text-transform: uppercase;
  border: 1px solid lightgray;
}

.fp-picture,
picture {
  display: flex;
  max-width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
}
.fp-picture > img[alt],
picture > img[alt] {
  max-width: 100%;
  height: auto;
  position: relative;
}

.fp-list ol,
ul,
dl {
  padding-left: 1rem;
  list-style: disc;
}
.fp-list ol > * + *,
ul > * + *,
dl > * + * {
  margin-top: 0.5rem;
}
.fp-list ol > *,
ul > *,
dl > * {
  line-height: 1.5;
}

span > ol,
span ul {
  list-style: none;
  margin-left: 0rem;
  padding-left: 0rem;
}

.fp-hr,
hr {
  border: none;
  background-color: transparent;
  border-top: 1px solid whitesmoke;
  margin: 2rem 0;
}

.fp-table,
table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  width: 100%;
  border: thin solid whitesmoke;
}
.fp-table thead tr,
table thead tr {
  background-color: whitesmoke;
  text-align: left;
}
.fp-table th,
.fp-table td,
table th,
table td {
  padding: 0.75rem 1rem;
}
.fp-table tbody tr,
table tbody tr {
  border-bottom: thin solid whitesmoke;
}
.fp-table tbody tr:nth-of-type(even),
table tbody tr:nth-of-type(even) {
  background-color: ghostwhite;
}
.fp-table tbody tr:last-of-type,
table tbody tr:last-of-type {
  border-bottom: 2px solid whitesmoke;
}

article + article,
.fp-article + article {
  margin-top: 2rem;
  font-size: 0.9rem;
}

code {
  color: #d63384;
}

a {
  color: #0d6efd;
  background-color: transparent;
  transition: color 0.4s ease;
  text-decoration: none;
}
a:hover, a:active, a:visited {
  text-decoration: none;
}
a:hover {
  color: #012e70;
}
a[title] {
  text-decoration: underline;
}

strong {
  font-weight: 500;
}

blockquote {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: normal;
  padding: 1rem;
  padding-left: 2rem;
  border-left: whitesmoke 3px solid;
}

ul,
ol {
  margin-bottom: 1rem;
}

[data-cover] {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav,
footer {
  flex-shrink: 0;
}

header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
header > [role=banner] {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 25rem;
}
header > [role=banner] > section,
header > [role=banner] > div {
  text-align: center;
}

a[role=button],
.fp-button-link[role=button] {
  display: inline-flex;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 0.1rem;
  color: darkblue;
  line-height: 1;
}
a[role=button]:hover, a[role=button]:active, a[role=button]:focus,
.fp-button-link[role=button]:hover,
.fp-button-link[role=button]:active,
.fp-button-link[role=button]:focus {
  border: none;
}
a[role=button] > span,
a[role=button] > b,
a[role=button] > em,
.fp-button-link[role=button] > span,
.fp-button-link[role=button] > b,
.fp-button-link[role=button] > em {
  border: 1px transparent solid;
  padding: 0.85rem 1.8rem;
  border: 1px solid #e4e4e4;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  transition: all 200ms ease;
}
a[role=button] > span:active, a[role=button] > span:hover, a[role=button] > span:focus,
a[role=button] > b:active,
a[role=button] > b:hover,
a[role=button] > b:focus,
a[role=button] > em:active,
a[role=button] > em:hover,
a[role=button] > em:focus,
.fp-button-link[role=button] > span:active,
.fp-button-link[role=button] > span:hover,
.fp-button-link[role=button] > span:focus,
.fp-button-link[role=button] > b:active,
.fp-button-link[role=button] > b:hover,
.fp-button-link[role=button] > b:focus,
.fp-button-link[role=button] > em:active,
.fp-button-link[role=button] > em:hover,
.fp-button-link[role=button] > em:focus {
  background-color: #cbcbcb;
  transform: scale(0.98);
}
a[role=button] > span,
.fp-button-link[role=button] > span {
  background-color: lightgray;
}
a[role=button] > b,
.fp-button-link[role=button] > b {
  background-color: lightgray;
}
a[role=button] > em,
.fp-button-link[role=button] > em {
  background-color: lightgray;
  border-radius: 99rem !important;
}
