html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 80%;
}

@media (min-width: 980px) {
  html {
    font-size: 100%;
  }
}
@media (min-width: 1980px) {
  html {
    font-size: 110%;
  }
}
html * {
  outline: none;
}

html *,
html *:before,
html *:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #ffffff;
  color: #262626;
}

body > section,
body > main,
body > header > section,
body > footer > section {
  padding: 1rem;
  max-width: 90%;
  margin: 0 auto;
}

@media (min-width: 980px) {
  body > section,
body > main,
body > header > section,
body > footer > section {
    max-width: 80%;
    width: 80%;
  }
}
@media (min-width: 1980px) {
  body > section,
body > main,
body > header > section,
body > footer > section {
    max-width: 80%;
    font-size: 110%;
  }
}
body > [role=region][aria-label] {
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  color: inherit;
  margin: 0rem 0 1.05rem;
  font-weight: 500;
  word-break: normal;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 9rem;
}

small,
time {
  font-size: 0.8rem;
}

time {
  padding: 0 0 0.5rem;
}

p {
  margin: 0;
  line-height: 1.7;
}

p + p {
  margin-top: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3.5rem;
  padding: 0.5rem 0rem;
  margin: 0 auto;
  margin-bottom: 0rem;
  border-bottom: none;
}

@media (min-width: 960px) {
  nav {
    display: flex;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 80%;
  }
}
nav section {
  display: flex;
  min-height: 3.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

nav section li,
nav section a {
  margin-top: 1rem;
}

nav section li {
  height: inherit;
  display: flex;
  align-items: center;
  margin-top: 0;
}

nav section li + li {
  margin-top: 0;
}

@media all and (min-width: 960px) {
  nav section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0 0.5rem;
  }

  nav section li,
nav section a {
    margin-top: 0;
  }
}
nav section img[alt] {
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  max-height: 2rem;
}

nav section img[alt] + * {
  margin-left: 1rem;
}

nav section a {
  padding: 0 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
}

nav section button[type],
nav section a[role=button] {
  margin-bottom: 0;
}

nav section ul {
  display: flex;
  min-height: 3.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

nav h1,
nav [aria-label="brand name"] {
  display: block;
  text-align: center;
  height: 100%;
  margin: 0;
  line-height: normal;
  font-size: 1.5rem;
}

@media (min-width: 960px) {
  nav h1,
nav [aria-label="brand name"] {
    display: flex;
    align-items: center;
  }
}
nav h1 a,
nav [aria-label="brand name"] a {
  font-size: 1.5rem;
  padding: 0;
}

.fp-footer,
footer[role=contentinfo] {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  border-top: solid 1px whitesmoke;
  padding: 2rem 0;
}

.fp-footer section,
footer[role=contentinfo] section {
  display: flex;
  justify-content: center;
}

.fp-footer section > div,
footer[role=contentinfo] section > div {
  flex: 1;
}

@media (min-width: 980px) {
  .fp-footer section,
footer[role=contentinfo] section {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    padding: 1rem;
  }

  .fp-footer section > aside + aside,
.fp-footer section > div + div,
footer[role=contentinfo] section > aside + aside,
footer[role=contentinfo] section > div + div {
    margin-left: 1rem;
  }
}
nav,
footer {
  flex-shrink: 0;
}

header {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

header > [role=banner] {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 25rem;
}

header > [role=banner] > section,
header > [role=banner] > div {
  text-align: center;
}

a[role=button],
.fp-button-link[role=button] {
  display: inline-flex;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 0.1rem;
  color: darkblue;
}

a[role=button]:hover,
a[role=button]:active,
a[role=button]:focus,
.fp-button-link[role=button]:hover,
.fp-button-link[role=button]:active,
.fp-button-link[role=button]:focus {
  border: none;
}

a[role=button] > span,
a[role=button] > strong,
a[role=button] > em,
.fp-button-link[role=button] > span,
.fp-button-link[role=button] > strong,
.fp-button-link[role=button] > em {
  border: 1px transparent solid;
  padding: 0.6rem 1.5rem;
  border: 1px solid #e4e4e4;
  font-weight: normal;
  font-style: normal;
}

a[role=button] > span:hover,
a[role=button] > strong:hover,
a[role=button] > em:hover,
.fp-button-link[role=button] > span:hover,
.fp-button-link[role=button] > strong:hover,
.fp-button-link[role=button] > em:hover {
  background-color: #cbcbcb;
}

a[role=button] > strong,
.fp-button-link[role=button] > strong {
  background-color: #e4e4e4;
}

a[role=button] > em,
.fp-button-link[role=button] > em {
  background-color: #e4e4e4;
  border-radius: 6.1875rem;
}

a[role=button] > em:active,
a[role=button] > em:hover,
a[role=button] > em:focus,
.fp-button-link[role=button] > em:active,
.fp-button-link[role=button] > em:hover,
.fp-button-link[role=button] > em:focus {
  border-radius: 6.1875rem !important;
  background-color: #cbcbcb;
}
