@charset "UTF-8";
[data-brand] img[alt] {
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  max-height: 2rem;
}
[data-brand] img[alt] + * {
  margin-left: 1rem;
}
[data-brand] h1,
[data-brand] h2,
[data-brand] h3,
[data-brand] h5 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  color: inherit;
  margin: 0rem 0 1.05rem;
  font-weight: 500;
  word-break: normal;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

small,
time {
  font-size: 0.85rem;
}

time {
  padding: 0 0 0.5rem;
}

p {
  margin: 0;
  line-height: 1.7;
}
p i {
  font-style: italic;
}
p strong {
  font-weight: 500;
}

p + p,
p + * {
  margin-top: var(--rem);
}

p + * {
  margin-top: 1.5rem !important;
}

.fp-main,
main {
  min-height: 30vh;
  padding: 2rem 0;
}
.fp-main > section,
main > section {
  width: 100%;
  font-size: 1rem;
  padding-bottom: 2rem;
}
.fp-main > section > * + *,
main > section > * + * {
  margin-top: 2rem;
}
.fp-main article + aside,
.fp-main section + aside,
main article + aside,
main section + aside {
  min-width: 25%;
  font-size: 0.95rem;
}
.fp-main footer,
main footer {
  font-size: 0.95rem;
  padding: 0.7rem 0;
  margin-top: 1rem;
}
@media all and (min-width: 1280px) {
  .fp-main,
main {
    display: flex;
    align-items: flex-start;
  }
  .fp-main > section,
main > section {
    max-width: 75%;
  }
  .fp-main section + aside,
.fp-main aside + section,
.fp-main section + [role=complementary],
.fp-main [role=complementary] + section,
main section + aside,
main aside + section,
main section + [role=complementary],
main [role=complementary] + section {
    padding: 0 1rem 0 1.5rem;
    min-width: 25%;
    max-width: 25%;
  }
}

.fp-grid[role=list],
section[role=list],
div[role=list] {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.2rem;
}
.fp-grid[role=list] [role=listitem],
section[role=list] [role=listitem],
div[role=list] [role=listitem] {
  flex: 1 1 100%;
  line-height: 1.6;
  padding: 1rem;
}
@media all and (min-width: 780px) {
  .fp-grid[role=list] [role=listitem],
section[role=list] [role=listitem],
div[role=list] [role=listitem] {
    flex: 1 1 48%;
  }
}
@media all and (min-width: 992px) {
  .fp-grid[role=list] [role=listitem],
section[role=list] [role=listitem],
div[role=list] [role=listitem] {
    flex: 1 1 28%;
  }
}

/**
TODO: deprecate this mixin
**/
.fp-button,
button[type] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightgray;
  border-radius: 0.1rem;
  border: 1px transparent solid;
  cursor: pointer;
  margin-bottom: 0.7rem;
  font-weight: normal;
  line-height: 1;
  transition: all 200ms ease;
}
.fp-button:hover, .fp-button:active, .fp-button:focus,
button[type]:hover,
button[type]:active,
button[type]:focus {
  border: 1px transparent solid;
  transform: scale(0.98);
}
.fp-button[type=reset], .fp-button[type=button], .fp-button[type=submit],
button[type][type=reset],
button[type][type=button],
button[type][type=submit] {
  padding: 0.85rem 1.8rem;
  border: 1px solid #e4e4e4;
}
.fp-button[type=reset]:hover, .fp-button[type=reset]:active, .fp-button[type=reset]:focus, .fp-button[type=button]:hover, .fp-button[type=button]:active, .fp-button[type=button]:focus, .fp-button[type=submit]:hover, .fp-button[type=submit]:active, .fp-button[type=submit]:focus,
button[type][type=reset]:hover,
button[type][type=reset]:active,
button[type][type=reset]:focus,
button[type][type=button]:hover,
button[type][type=button]:active,
button[type][type=button]:focus,
button[type][type=submit]:hover,
button[type][type=submit]:active,
button[type][type=submit]:focus {
  background-color: transparent;
  background-color: #cbcbcb;
  border: 1px solid #e4e4e4;
}

> div + div {
  margin-top: 1rem;
}

label[for] {
  font-size: 0.9rem;
  display: block;
}
label[for] em {
  font-style: normal;
}
label[for] em::after {
  content: "∗";
  color: darkred;
}

input[id],
textarea[id],
select[id] {
  background-color: transparent;
  display: flex;
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
  width: 98%;
  border: thin solid lightgray;
  border-radius: 0.1rem;
}
input[id]:focus, input[id]:focus-within,
textarea[id]:focus,
textarea[id]:focus-within,
select[id]:focus,
select[id]:focus-within {
  border: thin solid gray;
  outline-color: gray;
}
input[id]::placeholder,
textarea[id]::placeholder,
select[id]::placeholder {
  font-style: italic;
  color: lightgrey;
}

img[alt] {
  max-width: 100%;
  height: auto;
}
img[alt]::after {
  min-height: 48px;
  height: 12.5rem;
  width: 12.5rem;
  content: "•" " " attr(alt);
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 0.1rem;
  color: gray;
  background-repeat: no-repeat;
  text-transform: uppercase;
  border: 1px solid lightgray;
}

.fp-picture,
picture {
  display: flex;
  max-width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
}
.fp-picture > img[alt],
picture > img[alt] {
  max-width: 100%;
  height: auto;
  position: relative;
}

.fp-list ol,
ul,
dl {
  padding-left: 1rem;
  list-style: disc;
}
.fp-list ol > * + *,
ul > * + *,
dl > * + * {
  margin-top: 0.5rem;
}
.fp-list ol > *,
ul > *,
dl > * {
  line-height: 1.5;
}

span > ol,
span ul {
  list-style: none;
  margin-left: 0rem;
  padding-left: 0rem;
}

.fp-hr,
hr {
  border: none;
  background-color: transparent;
  border-top: 1px solid whitesmoke;
  margin: 2rem 0;
}

.fp-table,
table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  width: 100%;
  border: thin solid whitesmoke;
}
.fp-table thead tr,
table thead tr {
  background-color: whitesmoke;
  text-align: left;
}
.fp-table th,
.fp-table td,
table th,
table td {
  padding: 0.75rem 1rem;
}
.fp-table tbody tr,
table tbody tr {
  border-bottom: thin solid whitesmoke;
}
.fp-table tbody tr:nth-of-type(even),
table tbody tr:nth-of-type(even) {
  background-color: ghostwhite;
}
.fp-table tbody tr:last-of-type,
table tbody tr:last-of-type {
  border-bottom: 2px solid whitesmoke;
}

article + article,
.fp-article + article {
  margin-top: 2rem;
  font-size: 0.9rem;
}

code {
  color: #d63384;
}

a {
  color: #0d6efd;
  background-color: transparent;
  transition: color 0.4s ease;
  text-decoration: none;
}
a:hover, a:active, a:visited {
  text-decoration: none;
}
a:hover {
  color: #012e70;
}
a[title] {
  text-decoration: underline;
}

strong {
  font-weight: 500;
}

blockquote {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: normal;
  padding: 1rem;
  padding-left: 2rem;
  border-left: whitesmoke 3px solid;
}

ul,
ol {
  margin-bottom: 1rem;
}
