@use "../modules/reset.scss";
@use "../modules/global.scss";
@use "../tokens/colors.scss";
@use "../modules/container";
@use "../modules/button";
@use "../modules/checkbox";
@use "../modules/img";
@use "../modules/details-summary";
@use "../modules/nav";
@use "../modules/table";
@use "../modules/grid";
@use "../modules/cards";

// @include container.module();
@include nav.module();
@include table.module();
@include details-summary.module();
@include img.module();
@include checkbox.module();
@include grid.module();
@include button.module();
@include cards.module();

/// customs styles for docsify

.sidebar {
  h1 {
    display: flex;
    place-content: center;
  }
}

.demo_preview {
  .demo_preview_content {
    display: flex;
    place-content: center;
    width: 100%;
    overflow: hidden;
  }

}


 .docsify-copy-code-button {
    font-size: 0.8rem !important;
  }

  .demo-copy-code-button {
    display: none !important;
  }


 .content {
    padding-bottom: 5rem !important;
  }

  .sidebar-toggle {

    bottom: 20px !important;
    background-color: transparent !important;

}

