@use "./all.scss";

// customs styles for docsify

.sidebar {
  h1 {
    display: flex;
    place-content: center;
  }
}

.demo_preview {
    width: 100%;
    display: flex;
  .demo_preview_content {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    overflow: hidden;
    width: 100%;
    padding: calc(40rem / 16);
    main {
      width: auto;
    }
  }
}

.docsify-copy-code-button {
  font-size: 0.8rem !important;
}

.demo-copy-code-button {
  display: none !important;
}

.content {
  padding-bottom: 5rem !important;
  font-size: 1rem;
  blockquote {
    p {
      font-size: 1.2rem !important;
      font-weight: normal !important;
      line-height: 1.5;
      font-style: italic;
    }
  }

  .markdown-section {

    a {
      font-weight: normal;
    }

    table {
      margin: 0;
      padding: 0;
      tr, td, th, tr {
        border: unset;
        border-top: unset;
      }
    }
  }

  .demo_button demo_toggle {
    height: revert;
  }
}

.sidebar-toggle {
  bottom: 20px !important;
  background-color: transparent !important;
}

.sidebar-toggle {
  top: 0.25rem;
  left: 0.25rem;
  width: 2rem;
  height: 2rem;
  border-radius: var(--sl-border-radius-medium);
  background-color: var(--sl-color-neutral-0);
  padding: 0.5rem;
}
.docsify-pagination-container {
  padding-block: 2rem;

  svg {
    display: inline-block;
  }
}

.tip {
  font-size: 0.9rem;
}

.search {
  input {
    margin-top: 2rem;
  }
}

.markdown-section table {
  display: table;
}

.demo_preview .demo_preview_content {
  display: flex;_pro
  > section {
    width: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: initial;
    // font-size: initial;
  }
}

.app-sub-sidebar li{
  display: flex;
  &::before {
  content: " ";
  display: flex;
  place-content: center;
  place-items: center;
}
}

.page_toc {
  --fs: .85rem;
  line-height: 1.5;
  li + li {
    margin-top: .5rem;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

div[style*="--tbl"] {
  --spc: .5rem;
  --rds: .5rem;
  padding: var(--spc);
  overflow: auto;
  width: 100%;
  background-color: whitesmoke;
  border-radius: var(--rds);
}

.sidebar ul li.active>a {
  width: 100%;
}
