@use "../modules/reset.scss";
@use "../modules/global.scss";
@use "../modules/header.scss";
@use "../tokens/colors.scss";
@use "../modules/container";
@use "../modules/button";
@use "../modules/checkbox";
@use "../modules/img";
@use "../modules/details-summary";
@use "../modules/nav";
@use "../modules/table";
@use "../modules/grid";
@use "../modules/cards";
@use "../tokens/colors-scales.scss";
@use "../components/type.scss";
// @include container.module();
@include nav.module();
@include header.module();
@include table.module();
@include details-summary.module();
@include img.module();
@include checkbox.module();
@include grid.module();
@include button.module();
@include cards.module();

// customs styles for docsify

.sidebar {
  h1 {
    display: flex;
    place-content: center;
  }
}

.demo_preview {
  .demo_preview_content {
    display: flex;
    place-content: center;
    width: 100%;
    overflow: hidden;
  }

}


 .docsify-copy-code-button {
    font-size: 0.8rem !important;
  }

  .demo-copy-code-button {
    display: none !important;
  }


 .content {
    padding-bottom: 5rem !important;
    font-size: 1rem !important;
  }

  .sidebar-toggle {

    bottom: 20px !important;
    background-color: transparent !important;

}

.sidebar-toggle {
  top: 3.5rem;
  left: 0.25rem;
  width: 2rem;
  height: 2rem;
  border-radius: var(--sl-border-radius-medium);
  background-color: var(--sl-color-neutral-0);
  padding: 0.5rem;
}
.docsify-pagination-container {
  padding-block: 2rem;

  svg {
    display: inline-block;
  }
}
