/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/

main, header, footer {
  font-size: var(--fs);
  > section {
    width: min(90%, 1600px);
    margin-inline: auto;
  }
}


section:not(nav) {
  margin-inline: auto;
  padding-block: var(--fs-2);
}

hr {
  width: 100%;
  height: .05rem;
  background-color: lightgray;
  border: none;
  margin-block: 3rem;
}

