main, header, footer {
  font-size: var(--fs, 1rem);
  > section {
    width: var(--lt-min, min(90%, 1480px));
    margin-inline: auto;
  }
}

section:not(nav) {
  margin-inline: auto;
  padding-block: var(--fs-2, 1rem);
}

