main, header, footer {
  font-size: var(--fs, 1rem);
  > section {
    width: var(--lt-min, var(--content-w, 100%));
    margin-inline: auto;
  }
}

section:not(nav) {
  margin-inline: auto;
  padding-block: var(--fs-2, 1rem);
}

