/*
 ***************************************
 Name: tokens.scss
 ***************************************
*/
/* Name: core.scss */
:root {
  --gap: 1rem;
  --gap-sm: var(--sm);
  --gap-md: var(--md);
  --gap-lg: var(--lg);
  --gap-xl: var(--xl);
  --rem: 1rem;
  --0: 0;
  --s1: 0.75rem;
  --s2: 0.875rem;
  --s3: 1.3125rem;
  --s4: 1.75rem;
  --s5: 2.25rem;
  --s6: 3rem;
  --s7: 3.75rem;
  --s8: 4.5rem;
  --s9: 5rem;
  --s10: 7.5rem;
  --s11: 9rem;
  --s12: 12rem;
  --s13: 15rem;
  --s14: 18rem;
  --none: 0;
  --xs: var(--s1);
  --sm: var(--s2);
  --md: var(--s3);
  --lg: var(--s4);
  --xl: var(--s5);
  --2xl: var(--s6);
  --3xl: var(--s7);
  --4xl: var(--s8);
  --5xl: var(--s9);
  --6xl: var(--s10);
  --7xl: var(--s11);
  --8xl: var(--s12);
  --9xl: var(--s13);
  --10xl: var(--s14);
  --lead: var(--s3);
  --pitch: var(--s3);
  --d: var(--rem);
  --pct-1: 10%;
  --pct-2: 20%;
  --pct-3: 30%;
  --pct-4: 40%;
  --pct-5: 50%;
  --pct-6: 60%;
  --pct-7: 70%;
  --pct-8: 80%;
  --pct-9: 90%;
  --pct-10: 100%;
  --pct: var(pct-10);
  --vh-sm: 10vh;
  --vh-md: 25vh;
  --vh-lg: 50vh;
  --vh-xl: 70vh;
  --vh-2xl: 90vh;
  --vmin: 1%;
  --vmax: 1%;
  --vw-sm: 10vw;
  --vw-md: 25vw;
  --vw-lg: 50vw;
  --vw-xl: 70vw;
  --vw-2xl: 90vw;
  --rds: 0.19rem;
  --rds-xs: 0.3rem;
  --rds-sm: 0.5rem;
  --rds-md: 0.8rem;
  --rds-lg: 1.3rem;
  --rds-xl: 1.8rem;
  --rds-pill: 99rem;
  --container-xs: 48rem;
  --container-sm: 62rem;
  --container-md: 80rem;
  --container-lg: 87.5rem;
  --container-xl: 100rem;
  --container: 100%;
  --black: #000;
  --white: #fff;
  --off-white: hsl(240, 100%, 96%);
  --dark: hsl(0, 0%, 9%);
  --light: lightgray;
  --alert: yellowgreen;
  --info: hsl(210, 100%, 41%);
  --warning: hsl(33, 100%, 50%);
  --danger: hsl(348, 98%, 38%);
  --highlight: hsl(54, 100%, 90%);
  --text: var(dark);
  --fx-auto-size: 1 0 auto;
  --fx-max-w: calc(100% - var(--col, 4) - var(--gap, 1rem));
  --fx-cols: var(--col-flex, 1 1 calc(100% / var(--cols, 4) - var(--fx-gap, var(--gap))));
  --dark-mode: invert(1) hue-rotate(180deg);
}

* {
  --cl: var(--color, initial);
  --fs: var(--font-size, 1rem);
  --fst: var(--font-style, normal);
  --fw: var(--font-weight, normal);
  --ff: var(--font-family, roboto, "Segoe UI", -apple-system, blinkmacsystemfont, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  --ff-inter: 'Inter', sans-serif;
  --lh: var(--line-height, 1.2);
  --txa: var(--text-align, left);
  --txd: var(--text-decoration, none);
  --txt: var(--text-transform, none);
  --li-style: var(--list-style, none);
  --visible: var(--visibility, visible);
  --border: var(--brd, initial);
  --min-w: var(--min-width, auto);
  --min-h: var(--min-height, auto);
  --max-w: var(--max-width, auto);
  --max-h: var(--max-height, auto);
  --fv: var(--font-variant, normal);
  --fk: var(--font-kerning, normal);
  --lts: var(--letter-spacing, normal);
  --ws: var(--white-space, normal);
  --wsp: var(--word-spacing, normal);
  --before: intial;
  --after: intial;
  --w: var(--width, auto);
  --h: var(--height, auto);
  --p: var(--padding, initial);
  --m: var(--margin, initial);
  --px: var(--padding-inline, initial);
  --py: var(--padding-block, initial);
  --mx: var(--margin-inline, initial);
  --my: var(--margin-block, initial);
  --dsp: initial;
  --pos: var(--position, initial);
  --line: thin solid lightgray;
  --cursor: auto;
  --rad: intial;
  box-sizing: border-box;
  font-family: var(--ff);
  font-size: var(--fs);
  padding-inline: var(--px);
  padding-block: var(--py);
  margin-inline: var(--mx);
  margin-block: var(--my);
  width: var(--w);
  height: var(--h);
  list-style: var(--li-style);
  color: var(--cl, black);
  align-items: var(--align);
  background-color: var(--bg, white);
  border: var(--border, 0);
  text-decoration: var(--decoration, var(--txd));
  text-transform: var(--transform, var(--txt));
  cursor: var(--cursor);
  width: var(--w);
  min-height: var(--min-h);
  max-height: var(--max-h);
  min-width: var(--min-w);
  max-width: var(--max-w);
  justify-content: var(--justify, initial);
  text-align: var(--tx-align);
  border-radius: var(--rads);
  line-height: var(--lh);
  -webkit-line-clamp: var(--clamp, initial);
  letter-spacing: var(--lts);
}

::before {
  content: var(--before);
}

::after {
  content: var(--after);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: var(--page-fs, 100%);
}
@media screen and (max-width: 48rem) {
  html {
    font-size: var(--page-fs-xs, 82%);
  }
}
@media screen and (max-width: 62rem) and (min-width: 48rem) {
  html {
    font-size: var(--page-fs-sm, 87%);
  }
}
@media screen and (max-width: 80rem) and (min-width: 62rem) {
  html {
    font-size: var(--page-fs-md, 90%);
  }
}
@media screen and (max-width: 87.5rem) and (min-width: 80rem) {
  html {
    font-size: var(--page-fs-lg, 95%);
  }
}

footer[role=contentinfo],
header,
main,
ul,
ol,
div,
> nav,
> section {
  --px: 1.2rem;
}

main,
body > section,
footer {
  --dsp: block;
  --px: 1rem;
  --py: auto;
  --mx: auto;
}
@media (min-width: 62rem) {
  main,
body > section,
footer {
    --px: calc(10% - 1rem);
  }
}

header,
nav {
  --px: 0;
  --w: 100%;
}

> * + * {
  --py: 1rem;
}

header > section {
  --px: 1rem;
}

ul {
  --dsp: block;
  --mx: 1rem;
}

section + section,
div + div {
  --dsp: block;
  --py: 1rem 0;
}

div,
article,
button,
link,
ul,
p,
form,
blockquote {
  width: var(--w);
  height: var(--h);
  --mx: var(--elm-mx, --mx);
  --my: var(--elm-my, --my);
  --w: initial;
  --h: initial;
}

div {
  --dsp: block;
  --mx: initial;
  --my: initial;
  --w: auto;
}

button,
link,
ul {
  display: var(--dsp, inline-block);
}

:any-link,
a {
  --cl: blue;
  --txd: none;
  --cursor: pointer;
}
:any-link:visited,
:any-link :active,
a:visited,
a :active {
  --cl: navy;
}
:any-link *,
a * {
  --cursor: pointer;
}

p + p {
  --py: 1rem 0;
}

hr,
[style*="--hr"] {
  --border: none;
  height: 1px;
  border-bottom: var(--hr-border, 1px solid var(--light));
  --my: var(--hr-my, 2rem);
  --min-width: 100%;
}

button,
[style*="--btn"] {
  font-size: var(--fs);
  font-weight: var(--fw);
  box-sizing: border-box;
}

/*# sourceMappingURL=core.css.map */
