/* base CSS */
/* Background colors */
.bg-base-100 {
  background-color: hsl(0, 0%, 99%);
}

.bg-base-200 {
  background-color: hsl(0, 0%, 95%);
}

.bg-base-300 {
  background-color: hsl(0, 0%, 90%);
}

.bg-base-400 {
  background-color: hsl(0, 0%, 82%);
}

.bg-base-500 {
  background-color: hsl(0, 0%, 72%);
}

.bg-base-600 {
  background-color: hsl(0, 0%, 61%);
}

.bg-base-700 {
  background-color: hsl(0, 0%, 47%);
}

.bg-base-800 {
  background-color: hsl(0, 0%, 33%);
}

.bg-base-900 {
  background-color: hsl(0, 0%, 18%);
}

/* Text colors */
.color-base-100 {
  color: hsl(0, 0%, 99%);
}

.color-base-200 {
  color: hsl(0, 0%, 95%);
}

.color-base-300 {
  color: hsl(0, 0%, 90%);
}

.color-base-400 {
  color: hsl(0, 0%, 82%);
}

.color-base-500 {
  color: hsl(0, 0%, 72%);
}

.color-base-600 {
  color: hsl(0, 0%, 61%);
}

.color-base-700 {
  color: hsl(0, 0%, 47%);
}

.color-base-800 {
  color: hsl(0, 0%, 33%);
}

.color-base-900 {
  color: hsl(0, 0%, 18%);
}

/* Border colors */
.border-color-base-100 {
  border-color: hsl(0, 0%, 99%);
}

.border-color-base-200 {
  border-color: hsl(0, 0%, 95%);
}

.border-color-base-300 {
  border-color: hsl(0, 0%, 90%);
}

.border-color-base-400 {
  border-color: hsl(0, 0%, 82%);
}

.border-color-base-500 {
  border-color: hsl(0, 0%, 72%);
}

.border-color-base-600 {
  border-color: hsl(0, 0%, 61%);
}

.border-color-base-700 {
  border-color: hsl(0, 0%, 47%);
}

.border-color-base-800 {
  border-color: hsl(0, 0%, 33%);
}

.border-color-base-900 {
  border-color: hsl(0, 0%, 18%);
}

/* Neutral CSS */
/* Background colors */
.bg-neutral-100 {
  background-color: hsl(0, 0%, 93%);
}

.bg-neutral-200 {
  background-color: hsl(0, 0%, 87%);
}

.bg-neutral-300 {
  background-color: hsl(0, 0%, 79%);
}

.bg-neutral-400 {
  background-color: hsl(0, 0%, 71%);
}

.bg-neutral-500 {
  background-color: hsl(0, 0%, 62%);
}

.bg-neutral-600 {
  background-color: hsl(0, 0%, 55%);
}

.bg-neutral-700 {
  background-color: hsl(0, 0%, 48%);
}

.bg-neutral-800 {
  background-color: hsl(0, 0%, 39%);
}

.bg-neutral-900 {
  background-color: hsl(0, 0%, 27%);
}

/* Text colors */
.color-neutral-100 {
  color: hsl(0, 0%, 93%);
}

.color-neutral-200 {
  color: hsl(0, 0%, 87%);
}

.color-neutral-300 {
  color: hsl(0, 0%, 79%);
}

.color-neutral-400 {
  color: hsl(0, 0%, 71%);
}

.color-neutral-500 {
  color: hsl(0, 0%, 62%);
}

.color-neutral-600 {
  color: hsl(0, 0%, 55%);
}

.color-neutral-700 {
  color: hsl(0, 0%, 48%);
}

.color-neutral-800 {
  color: hsl(0, 0%, 39%);
}

.color-neutral-900 {
  color: hsl(0, 0%, 27%);
}

/* Border colors */
.border-color-neutral-100 {
  border-color: hsl(0, 0%, 93%);
}

.border-color-neutral-200 {
  border-color: hsl(0, 0%, 87%);
}

.border-color-neutral-300 {
  border-color: hsl(0, 0%, 79%);
}

.border-color-neutral-400 {
  border-color: hsl(0, 0%, 71%);
}

.border-color-neutral-500 {
  border-color: hsl(0, 0%, 62%);
}

.border-color-neutral-600 {
  border-color: hsl(0, 0%, 55%);
}

.border-color-neutral-700 {
  border-color: hsl(0, 0%, 48%);
}

.border-color-neutral-800 {
  border-color: hsl(0, 0%, 39%);
}

.border-color-neutral-900 {
  border-color: hsl(0, 0%, 27%);
}

/* Errors CSS */
/* Background colors */
.bg-errors-100 {
  background-color: hsl(357, 59%, 93%);
}

.bg-errors-200 {
  background-color: hsl(356, 63%, 86%);
}

.bg-errors-300 {
  background-color: hsl(354, 66%, 78%);
}

.bg-errors-400 {
  background-color: hsl(353, 69%, 67%);
}

.bg-errors-500 {
  background-color: hsl(347, 82%, 48%);
}

.bg-errors-600 {
  background-color: hsl(347, 83%, 43%);
}

.bg-errors-700 {
  background-color: hsl(347, 82%, 37%);
}

.bg-errors-800 {
  background-color: hsl(347, 83%, 30%);
}

.bg-errors-900 {
  background-color: hsl(347, 83%, 21%);
}

/* Text colors */
.color-errors-100 {
  color: hsl(357, 59%, 93%);
}

.color-errors-200 {
  color: hsl(356, 63%, 86%);
}

.color-errors-300 {
  color: hsl(354, 66%, 78%);
}

.color-errors-400 {
  color: hsl(353, 69%, 67%);
}

.color-errors-500 {
  color: hsl(347, 82%, 48%);
}

.color-errors-600 {
  color: hsl(347, 83%, 43%);
}

.color-errors-700 {
  color: hsl(347, 82%, 37%);
}

.color-errors-800 {
  color: hsl(347, 83%, 30%);
}

.color-errors-900 {
  color: hsl(347, 83%, 21%);
}

/* Border colors */
.border-color-errors-100 {
  border-color: hsl(357, 59%, 93%);
}

.border-color-errors-200 {
  border-color: hsl(356, 63%, 86%);
}

.border-color-errors-300 {
  border-color: hsl(354, 66%, 78%);
}

.border-color-errors-400 {
  border-color: hsl(353, 69%, 67%);
}

.border-color-errors-500 {
  border-color: hsl(347, 82%, 48%);
}

.border-color-errors-600 {
  border-color: hsl(347, 83%, 43%);
}

.border-color-errors-700 {
  border-color: hsl(347, 82%, 37%);
}

.border-color-errors-800 {
  border-color: hsl(347, 83%, 30%);
}

.border-color-errors-900 {
  border-color: hsl(347, 83%, 21%);
}

/* Warning CSS */
/* Background colors */
.bg-warning-100 {
  background-color: hsl(30, 100%, 95%);
}

.bg-warning-200 {
  background-color: hsl(33, 100%, 89%);
}

.bg-warning-300 {
  background-color: hsl(33, 100%, 83%);
}

.bg-warning-400 {
  background-color: hsl(36, 100%, 74%);
}

.bg-warning-500 {
  background-color: hsl(39, 100%, 61%);
}

.bg-warning-600 {
  background-color: hsl(39, 77%, 55%);
}

.bg-warning-700 {
  background-color: hsl(39, 64%, 47%);
}

.bg-warning-800 {
  background-color: hsl(40, 64%, 38%);
}

.bg-warning-900 {
  background-color: hsl(39, 64%, 27%);
}

/* Text colors */
.color-warning-100 {
  color: hsl(30, 100%, 95%);
}

.color-warning-200 {
  color: hsl(33, 100%, 89%);
}

.color-warning-300 {
  color: hsl(33, 100%, 83%);
}

.color-warning-400 {
  color: hsl(36, 100%, 74%);
}

.color-warning-500 {
  color: hsl(39, 100%, 61%);
}

.color-warning-600 {
  color: hsl(39, 77%, 55%);
}

.color-warning-700 {
  color: hsl(39, 64%, 47%);
}

.color-warning-800 {
  color: hsl(40, 64%, 38%);
}

.color-warning-900 {
  color: hsl(39, 64%, 27%);
}

/* Border colors */
.border-color-warning-100 {
  border-color: hsl(30, 100%, 95%);
}

.border-color-warning-200 {
  border-color: hsl(33, 100%, 89%);
}

.border-color-warning-300 {
  border-color: hsl(33, 100%, 83%);
}

.border-color-warning-400 {
  border-color: hsl(36, 100%, 74%);
}

.border-color-warning-500 {
  border-color: hsl(39, 100%, 61%);
}

.border-color-warning-600 {
  border-color: hsl(39, 77%, 55%);
}

.border-color-warning-700 {
  border-color: hsl(39, 64%, 47%);
}

.border-color-warning-800 {
  border-color: hsl(40, 64%, 38%);
}

.border-color-warning-900 {
  border-color: hsl(39, 64%, 27%);
}

/* Success CSS */
/* Background colors */
.bg-success-100 {
  background-color: hsl(135, 29%, 92%);
}

.bg-success-200 {
  background-color: hsl(136, 30%, 83%);
}

.bg-success-300 {
  background-color: hsl(136, 32%, 72%);
}

.bg-success-400 {
  background-color: hsl(138, 36%, 60%);
}

.bg-success-500 {
  background-color: hsl(146, 75%, 38%);
}

.bg-success-600 {
  background-color: hsl(146, 76%, 34%);
}

.bg-success-700 {
  background-color: hsl(146, 76%, 29%);
}

.bg-success-800 {
  background-color: hsl(146, 75%, 24%);
}

.bg-success-900 {
  background-color: hsl(146, 76%, 17%);
}

/* Text colors */
.color-success-100 {
  color: hsl(135, 29%, 92%);
}

.color-success-200 {
  color: hsl(136, 30%, 83%);
}

.color-success-300 {
  color: hsl(136, 32%, 72%);
}

.color-success-400 {
  color: hsl(138, 36%, 60%);
}

.color-success-500 {
  color: hsl(146, 75%, 38%);
}

.color-success-600 {
  color: hsl(146, 76%, 34%);
}

.color-success-700 {
  color: hsl(146, 76%, 29%);
}

.color-success-800 {
  color: hsl(146, 75%, 24%);
}

.color-success-900 {
  color: hsl(146, 76%, 17%);
}

/* Border colors */
.border-color-success-100 {
  border-color: hsl(135, 29%, 92%);
}

.border-color-success-200 {
  border-color: hsl(136, 30%, 83%);
}

.border-color-success-300 {
  border-color: hsl(136, 32%, 72%);
}

.border-color-success-400 {
  border-color: hsl(138, 36%, 60%);
}

.border-color-success-500 {
  border-color: hsl(146, 75%, 38%);
}

.border-color-success-600 {
  border-color: hsl(146, 76%, 34%);
}

.border-color-success-700 {
  border-color: hsl(146, 76%, 29%);
}

.border-color-success-800 {
  border-color: hsl(146, 75%, 24%);
}

.border-color-success-900 {
  border-color: hsl(146, 76%, 17%);
}

/* Primary CSS */
/* Background colors */
.bg-primary-100 {
  background-color: hsl(235, 86%, 95%);
}

.bg-primary-200 {
  background-color: hsl(236, 86%, 89%);
}

.bg-primary-300 {
  background-color: hsl(236, 87%, 82%);
}

.bg-primary-400 {
  background-color: hsl(235, 88%, 73%);
}

.bg-primary-500 {
  background-color: hsl(233, 90%, 60%);
}

.bg-primary-600 {
  background-color: hsl(233, 70%, 54%);
}

.bg-primary-700 {
  background-color: hsl(233, 60%, 46%);
}

.bg-primary-800 {
  background-color: hsl(233, 60%, 38%);
}

.bg-primary-900 {
  background-color: hsl(233, 60%, 27%);
}

/* Text colors */
.color-primary-100 {
  color: hsl(235, 86%, 95%);
}

.color-primary-200 {
  color: hsl(236, 86%, 89%);
}

.color-primary-300 {
  color: hsl(236, 87%, 82%);
}

.color-primary-400 {
  color: hsl(235, 88%, 73%);
}

.color-primary-500 {
  color: hsl(233, 90%, 60%);
}

.color-primary-600 {
  color: hsl(233, 70%, 54%);
}

.color-primary-700 {
  color: hsl(233, 60%, 46%);
}

.color-primary-800 {
  color: hsl(233, 60%, 38%);
}

.color-primary-900 {
  color: hsl(233, 60%, 27%);
}

/* Border colors */
.border-color-primary-100 {
  border-color: hsl(235, 86%, 95%);
}

.border-color-primary-200 {
  border-color: hsl(236, 86%, 89%);
}

.border-color-primary-300 {
  border-color: hsl(236, 87%, 82%);
}

.border-color-primary-400 {
  border-color: hsl(235, 88%, 73%);
}

.border-color-primary-500 {
  border-color: hsl(233, 90%, 60%);
}

.border-color-primary-600 {
  border-color: hsl(233, 70%, 54%);
}

.border-color-primary-700 {
  border-color: hsl(233, 60%, 46%);
}

.border-color-primary-800 {
  border-color: hsl(233, 60%, 38%);
}

.border-color-primary-900 {
  border-color: hsl(233, 60%, 27%);
}

/* Secondary CSS */
/* Background colors */
.bg-secondary-100 {
  background-color: hsl(190, 50%, 93%);
}

.bg-secondary-200 {
  background-color: hsl(192, 55%, 85%);
}

.bg-secondary-300 {
  background-color: hsl(191, 58%, 77%);
}

.bg-secondary-400 {
  background-color: hsl(190, 61%, 66%);
}

.bg-secondary-500 {
  background-color: hsl(187, 100%, 42%);
}

.bg-secondary-600 {
  background-color: hsl(187, 100%, 37%);
}

.bg-secondary-700 {
  background-color: hsl(187, 100%, 32%);
}

.bg-secondary-800 {
  background-color: hsl(187, 100%, 26%);
}

.bg-secondary-900 {
  background-color: hsl(186, 100%, 18%);
}

/* Text colors */
.color-secondary-100 {
  color: hsl(190, 50%, 93%);
}

.color-secondary-200 {
  color: hsl(192, 55%, 85%);
}

.color-secondary-300 {
  color: hsl(191, 58%, 77%);
}

.color-secondary-400 {
  color: hsl(190, 61%, 66%);
}

.color-secondary-500 {
  color: hsl(187, 100%, 42%);
}

.color-secondary-600 {
  color: hsl(187, 100%, 37%);
}

.color-secondary-700 {
  color: hsl(187, 100%, 32%);
}

.color-secondary-800 {
  color: hsl(187, 100%, 26%);
}

.color-secondary-900 {
  color: hsl(186, 100%, 18%);
}

/* Border colors */
.border-color-secondary-100 {
  border-color: hsl(190, 50%, 93%);
}

.border-color-secondary-200 {
  border-color: hsl(192, 55%, 85%);
}

.border-color-secondary-300 {
  border-color: hsl(191, 58%, 77%);
}

.border-color-secondary-400 {
  border-color: hsl(190, 61%, 66%);
}

.border-color-secondary-500 {
  border-color: hsl(187, 100%, 42%);
}

.border-color-secondary-600 {
  border-color: hsl(187, 100%, 37%);
}

.border-color-secondary-700 {
  border-color: hsl(187, 100%, 32%);
}

.border-color-secondary-800 {
  border-color: hsl(187, 100%, 26%);
}

.border-color-secondary-900 {
  border-color: hsl(186, 100%, 18%);
}

/*# sourceMappingURL=first-paint-styles.css.map */
