:root {
  /* Nero CSS Vars */
  --nero-100: hsl(0deg 0% 90%);
  --nero-200: hsl(0deg 0% 80%);
  --nero-300: hsl(0deg 0% 62%);
  --nero-400: hsl(0deg 0% 47%);
  --nero-500: hsl(0deg 0% 35%);
  --nero-600: hsl(0deg 0% 25%);
  --nero-700: hsl(0deg 0% 17%);
  --nero-800: hsl(0deg 0% 11%);
  --nero-900: hsl(0deg 0% 5%);

  /* Covered in Platinum CSS Vars */
  --covered-in-platinum-100: hsl(0deg 0% 97%);
  --covered-in-platinum-200: hsl(0deg 0% 93%);
  --covered-in-platinum-300: hsl(0deg 0% 85%);
  --covered-in-platinum-400: hsl(0deg 0% 75%);
  --covered-in-platinum-500: hsl(0deg 0% 65%);
  --covered-in-platinum-600: hsl(0deg 0% 53%);
  --covered-in-platinum-700: hsl(0deg 0% 41%);
  --covered-in-platinum-800: hsl(0deg 0% 28%);
  --covered-in-platinum-900: hsl(0deg 0% 15%);

  /* Neutral CSS Vars */
  --neutral-100: hsl(0deg 0% 93%);
  --neutral-200: hsl(0deg 0% 87%);
  --neutral-300: hsl(0deg 0% 79%);
  --neutral-400: hsl(0deg 0% 71%);
  --neutral-500: hsl(0deg 0% 62%);
  --neutral-600: hsl(0deg 0% 55%);
  --neutral-700: hsl(0deg 0% 48%);
  --neutral-800: hsl(0deg 0% 39%);
  --neutral-900: hsl(0deg 0% 27%);

  /* Errors CSS Vars */
  --errors-100: hsl(357deg 59% 93%);
  --errors-200: hsl(356deg 63% 86%);
  --errors-300: hsl(354deg 66% 78%);
  --errors-400: hsl(353deg 69% 67%);
  --errors-500: hsl(347deg 82% 48%);
  --errors-600: hsl(347deg 83% 43%);
  --errors-700: hsl(347deg 82% 37%);
  --errors-800: hsl(347deg 83% 30%);
  --errors-900: hsl(347deg 83% 21%);

  /* Warning CSS Vars */
  --warning-100: hsl(30deg 100% 95%);
  --warning-200: hsl(33deg 100% 89%);
  --warning-300: hsl(33deg 100% 83%);
  --warning-400: hsl(36deg 100% 74%);
  --warning-500: hsl(39deg 100% 61%);
  --warning-600: hsl(39deg 77% 55%);
  --warning-700: hsl(39deg 64% 47%);
  --warning-800: hsl(40deg 64% 38%);
  --warning-900: hsl(39deg 64% 27%);

  /* Success CSS Vars */
  --success-100: hsl(135deg 29% 92%);
  --success-200: hsl(136deg 30% 83%);
  --success-300: hsl(136deg 32% 72%);
  --success-400: hsl(138deg 36% 60%);
  --success-500: hsl(146deg 75% 38%);
  --success-600: hsl(146deg 76% 34%);
  --success-700: hsl(146deg 76% 29%);
  --success-800: hsl(146deg 75% 24%);
  --success-900: hsl(146deg 76% 17%);

  /* Primary CSS Vars */
  --primary-100: hsl(235deg 86% 95%);
  --primary-200: hsl(236deg 86% 89%);
  --primary-300: hsl(236deg 87% 82%);
  --primary-400: hsl(235deg 88% 73%);
  --primary-500: hsl(233deg 90% 60%);
  --primary-600: hsl(233deg 70% 54%);
  --primary-700: hsl(233deg 60% 46%);
  --primary-800: hsl(233deg 60% 38%);
  --primary-900: hsl(233deg 60% 27%);

  /* Secondary CSS Vars */
  --secondary-100: hsl(190deg 50% 93%);
  --secondary-200: hsl(192deg 55% 85%);
  --secondary-300: hsl(191deg 58% 77%);
  --secondary-400: hsl(190deg 61% 66%);
  --secondary-500: hsl(187deg 100% 42%);
  --secondary-600: hsl(187deg 100% 37%);
  --secondary-700: hsl(187deg 100% 32%);
  --secondary-800: hsl(187deg 100% 26%);
  --secondary-900: hsl(186deg 100% 18%);
}
