<article role="region">
  <article>
    <h3>
      <a href="#">Sample Article</a>
    </h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      assumenda odio rem maiores ad minima doloribus. Pariatur quibusdam dolorum
      distinctio repellendus vero natus explicabo mollitia ea, nemo sunt
      voluptatibus eaque!
    </p>
    <footer>
      <p>
        <a href="#" role="button"><strong>Read more</strong></a>
      </p>
    </footer>
  </article>
  <article>
    <h3>
      <a href="#">Sample a buttons (btn)</a>
    </h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      assumenda odio rem maiores ad minima doloribus. Pariatur quibusdam dolorum
      distinctio repellendus vero natus explicabo mollitia ea, nemo sunt
      voluptatibus eaque!
    </p>
    <footer>
      <p>
        <a href="/" onclick="preventDefault()"
          ><strong>Read more (strong)</strong></a
        >
        <a href="/" onclick=""><b>Read more (b)</b></a>
        <a href="/"><em>Read more (em)</em></a>
      </p>
    </footer>
  </article>
  <article>
    <h3>
      <a href="#">Sample Article</a>
    </h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      assumenda odio rem maiores ad minima doloribus. Pariatur quibusdam dolorum
      distinctio repellendus vero natus explicabo mollitia ea, nemo sunt
      voluptatibus eaque!
    </p>
    <footer>
      <p>
        <a href="#" role="button"><strong>Read more</strong></a>
      </p>
    </footer>
  </article>
  <article>
    <h3>
      <a href="#">Sample Article</a>
    </h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      assumenda odio rem maiores ad minima doloribus. Pariatur quibusdam dolorum
      distinctio repellendus vero natus explicabo mollitia ea, nemo sunt
      voluptatibus eaque!
    </p>
    <footer>
      <p>
        <a href="#" role="button"><strong>Read more</strong></a>
      </p>
    </footer>
  </article>
  <article>
    <h3>
      <a href="#">Sample Article</a>
    </h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      assumenda odio rem maiores ad minima doloribus. Pariatur quibusdam dolorum
      distinctio repellendus vero natus explicabo mollitia ea, nemo sunt
      voluptatibus eaque!
    </p>
    <footer>
      <p>
        <a href="#" role="button"><strong>Read more</strong></a>
      </p>
    </footer>
  </article>
</article>
<p></p>
