<h5 style="--w: 100%; --py: 3rem">{{ title }} Sandbox</h5>
<section style="--dsp: block; --w: 85%">
  <iframe
    src="https://codesandbox.io/embed/{{sandbox }}?fontsize=11&hidenavigation=1&theme=dark&codemirror=1&editorsize=30&view=preview"
    style="
      width: 95%;
      height: 500px;
      border: 1;
      border-radius: 4px;
      overflow: hidden;
    "
    title="{{title}}"
    allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
    sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
  ></iframe>
</section>
