<section aria-label="View and copy components">
  <div>
    <h3>Components</h3>
    <label>
      <p>
        <span> Navigation component </span>
      </p>
      <code>
        <textarea>
<nav role="navigation" aria-label="Main navigation">
              <section id="navigation">
                <div>
                  <h1>
                    <a href="#" aria-label="Site logo">
                      <img src="/img/fp-icon.svg" alt="">
                      <span aria-label="logo text">FirstPaint</span>
                    </a>
                  </h1>
                </div>
                <div>
                  <a href="#">Blog</a>
                  <a href="#">About</a>
                  <a href="#">...</a>
                </div>
              </section>
            </nav>
          </textarea
        >
      </code>
    </label>
  </div>
</section>
