<hr />
<footer role="contentinfo">
  <section>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Velit cupiditate ipsam sunt, perferendis odio
        animi dolor ea dicta voluptatem provident fuga nisi
        quisquam laudantium ipsa praesentium cumque
        accusamus, porro quas.
      </p>
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Velit cupiditate ipsam sunt, perferendis odio
        animi dolor ea dicta voluptatem provident fuga nisi
        quisquam laudantium ipsa praesentium cumque
        accusamus, porro quas.
      </p>
    </div>
  </section>
  <div>
    <p>Copyright 2021</p>
  </div>
  <!-- {% clipboardscript %} -->
</footer>
