<section role="grid">
  <div role="row">
    <span role="gridcell">
      <h3>Grid col</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nulla
        totam dolorem nemo facere ex expedita illum laboriosam sit. Ea
        laboriosam rem omnis sit autem temporibus ipsum maxime dignissimos id.
      </p>
      <a tabindex="-1" href="http://www.w3.org/TR/wai-aria-1.1/">
        ARIA 1.1 Specification
      </a>
    </span>
    <span role="gridcell">
      <h3>Grid col</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nulla
        totam dolorem nemo facere ex expedita illum laboriosam sit. Ea
        laboriosam rem omnis sit autem temporibus ipsum maxime dignissimos id.
      </p>
      <a tabindex="-1" href="https://www.w3.org/TR/core-aam-1.1/">
        Core Accessibility API Mappings 1.1
      </a>
    </span>
    <span role="gridcell">
      <h3>Grid col</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nulla
        totam dolorem nemo facere ex expedita illum laboriosam sit. Ea
        laboriosam rem omnis sit autem temporibus ipsum maxime dignissimos id.
      </p>
      <a tabindex="-1" href="https://www.w3.org/WAI/intro/aria.php">
        WAI-ARIA Overview
      </a>
    </span>
    <span role="gridcell">
      <h3>Grid col</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nulla
        totam dolorem nemo facere ex expedita illum laboriosam sit. Ea
        laboriosam rem omnis sit autem temporibus ipsum maxime dignissimos id.
      </p>
      <a tabindex="-1" href="https://www.w3.org/WAI/intro/wcag">
        WCAG Overview
      </a>
    </span>
    <span role="gridcell">
      <h3>Grid col</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nulla
        totam dolorem nemo facere ex expedita illum laboriosam sit. Ea
        laboriosam rem omnis sit autem temporibus ipsum maxime dignissimos id.
      </p>
      <a tabindex="-1" href="https://html.spec.whatwg.org/">
        HTML Specification
      </a>
    </span>
    <span role="gridcell">
      <h3>Grid col</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nulla
        totam dolorem nemo facere ex expedita illum laboriosam sit. Ea
        laboriosam rem omnis sit autem temporibus ipsum maxime dignissimos id.
      </p>
      <a tabindex="-1" href="https://www.w3.org/TR/SVG2/">
        SVG 2 Specification
      </a>
    </span>
  </div>
</section>
