<div role="list" style="--py: var(--2xl)">
  <div role="listitem">
    <h3>Feature...</h3>
    <section>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        consectetur assumenda, porro repudiandae repellendus placeat iure
        officia inventore sint voluptas et blanditiis facilis voluptate quas
        accusamus itaque ea, corporis odio. Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Quidem fuga nulla qui magnam voluptas
        dignissimos ab odio tenetur eaque asperiores?
      </p>
    </section>
    <p>
      <a href="#" style="--btn-pill"> Continue </a>
    </p>
  </div>
  <div role="listitem">
    <h3>Feature...</h3>
    <section>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        consectetur assumenda, porro repudiandae repellendus placeat iure
        officia inventore sint voluptas et blanditiis facilis voluptate quas
        accusamus itaque ea, corporis odio.
      </p>
    </section>
    <p>
      <a href="#" style="--btn-pill"> Continue </a>
    </p>
  </div>
  <div role="listitem">
    <h3>Feature...</h3>
    <section>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        consectetur assumenda, porro repudiandae repellendus placeat iure
        officia inventore sint voluptas et blanditiis facilis voluptate quas
        accusamus itaque ea, corporis odio.
      </p>
    </section>
    <p>
      <a href="#" style="--btn-pill"> Continue </a>
    </p>
  </div>
  <div role="listitem">
    <h3>Feature...</h3>
    <section>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        consectetur assumenda, porro repudiandae repellendus placeat iure
        officia inventore sint voluptas et blanditiis facilis voluptate quas
        accusamus itaque ea, corporis odio.
      </p>
    </section>
    <p>
      <a href="#" style="--btn-pill"> Continue </a>
    </p>
  </div>
  <div role="listitem">
    <h3>Feature...</h3>
    <section>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        consectetur assumenda, porro repudiandae repellendus placeat iure
        officia inventore sint voluptas et blanditiis facilis voluptate quas
        accusamus itaque ea, corporis odio.
      </p>
    </section>
    <p>
      <a href="#" style="--btn-pill"> Continue </a>
    </p>
  </div>
</div>
