<section role="banner" style="--justify: center">
  <div>
    <h2
      role="none"
      style="
        --fw: 500;
        --ff: var(--ff-inter);
        --fw: 700;
        --fs: var(--h1);
        --transform: capitalize;
      "
    >
      {{ settings.subtitle }}
    </h2>
    <p
      style="
        --transform: capitalize;
        --fs: var(--md);
        --ff: var(--ff-inter);
        --fw: normal;
        --cl: gray;
      "
    >
      {{ settings.description }}
    </p>
    <p>
      <a
        href="/"
        style="--btn-rds: var(--pill)"
        aria-label="Get started action"
      >
        Get Started</a
      >
    </p>
  </div>
</section>
<hr />
