<section>
  <h3>Image</h3>

  <div role="list">
    <div role="listitem">
      <p>
        <picture>
          <img src="" alt="Placeholder 1" width="200px" height="200px" />
        </picture>
      </p>
    </div>
    <div role="listitem">
      <p>
        <picture>
          <img src="" alt="Placeholder 2" width="200px" height="200px" />
        </picture>
      </p>
    </div>
    <div role="listitem">
      <p>
        <picture>
          <img src="" alt="Placeholder" width="200px" height="200px" />
        </picture>
      </p>
    </div>
    <div role="listitem">
      <p>
        <picture>
          <img src="" alt="Placeholder 4" width="200px" height="200px" />
        </picture>
      </p>
    </div>
  </div>
  <p>
    {% markdown %} *HTML code* `<picture
      ><img width="100" height="100" /></picture
    >` {% endmarkdown %}
  </p>
  <hr />
</section>
