<section>
  <form>
    <div>
      <span>
        <p>Input components</p>
      </span>
    </div>

    <div>
      <label for="input">Text Input Component</label>
      <input type="text" id="input" placeholder="Text input placeholder" />
    </div>

    <div>
      <label for="input-required"
        ><em>Text Required Input Component</em>
      </label>
      <input
        type="text"
        id="input-required"
        placeholder="Text input placeholder"
      />
    </div>

    <div>
      <label for="email-address">Text Input Component</label>
      <input
        type="email"
        id="email-address"
        placeholder="Text input placeholder"
      />
    </div>

    <div>
      <label for="select">Text Input Component</label>
      <select id="select">
        <option value="">Select</option>
        <option value="">Options</option>
        <option value="">Options</option>
      </select>
    </div>

    <div>
      <span>
        <input id="checkbox" type="checkbox" />
        <label for="checkbox"><em> Checkbox</em></label>
      </span>
    </div>

    <div>
      <span>
        <input id="radio" type="radio" name="radio-button" />
        <label for="radio"><em> Radio</em></label>
      </span>
      <span>
        <input id="radio-off" type="radio" name="radio-button" />
        <label for="radio-off"><em> Radio</em></label>
      </span>
    </div>

    <div>
      <label for="textarea">Textarea Component</label>
      <textarea id="textarea" cols="30" rows="10"></textarea>
    </div>

    <div>
      <button type="button">Button</button>
      <button type="reset">Reset</button>
      <button type="submit">Submit</button>
    </div>
    <div>
      <div></div>
    </div>
  </form>
</section>
