<section id="list-component">
  <div role="list">
    <div role="listitem">
      <aside>
        <p>
          <span>Unordered List</span>
        </p>
        <ul>
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
          <li>Five</li>
        </ul>
      </aside>
    </div>

    <div role="listitem">
      <aside>
        <p>
          <span>Ordered List</span>
        </p>
        <ol>
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
          <li>Five</li>
        </ol>
      </aside>
    </div>

    <div role="listitem">
      <aside>
        <p>
          <span>Unordered List (unstyled)</span>
          <!-- <code><span>span\ul</span></code> -->
        </p>
        <span>
          <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
            <li>Four</li>
            <li>Five</li>
          </ul>
        </span>
      </aside>
    </div>
    <div role="listitem">
      <aside>
        <p>
          <span>Ordered List (unstyled)</span>
        </p>
        <span>
          <ol>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
            <li>Four</li>
            <li>Five</li>
          </ol>
        </span>
      </aside>
    </div>
  </div>
</section>
