<section data-show-mobile>
  <a href="#sidebar" role="button" data-sidebar-button>
    <em>&xrarr;</em>
  </a>
</section>
<nav id="sidebar" role="navigation" aria-label="Main navigation">
  <section data-brand="">
    <h1>
      <a href="/" aria-label="Site logo">
        <img data-show-desktop data-brand src="/img/fp.svg" alt="" /><span
          >FirstPaint</span
        >
      </a>
    </h1>
  </section>
  <section>
    <ul role="menubar">
      <li><a href="#">Blog</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </section>
  <section>
    <a href="/cover">CoverPage</a>
    <a href="#">About</a>
    <a href="/">Documentation</a>
    <a href="/">Repository</a>
    <a href="#">Contact Us</a>
    <div data-show-mobile>
      <a href="#" role="button"><em>x</em></a>
    </div>
  </section>
</nav>
