<nav data-show-mobile>
  <section role="region" aria-label="mobile navigation">
    <section data-brand="">
      <h1>
        <a href="/" aria-label="Site logo">
          <img data-show-desktop data-brand src="/img/fp.svg" alt="" /><span
            >FirstPaint</span
          >
        </a>
      </h1>
    </section>
    <section data-show-mobile>
      <a
        role="button"
        aria-label="Navigation button"
        href="#sidebar"
        data-sidebar-button
      >
        <small>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path fill="none" d="M0 0h24v24H0z" />
              <path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z" />
            </svg>
          </span>
        </small>
      </a>
    </section>
  </section>
</nav>
<nav
  id="sidebar"
  data-show-desktop=""
  role="navigation"
  aria-label="Main navigation"
>
  <section data-brand="" data-show-desktop>
    <h1>
      <a href="/" aria-label="Site logo">
        <img data-show-desktop data-brand src="/img/fp.svg" alt="" /><span
          aria-label="logo text"
          >FirstPaint</span
        >
      </a>
    </h1>
  </section>

  <section>
    <ul>
      <li><a href="/cover">CoverPage</a></li>
      <li><a href="#">About</a></li>
      <li><a href="/">Documentation</a></li>
      <li><a href="/">Repository</a></li>
      <li><a href="#">Contact Us</a></li>
      <li>
        <div data-show-mobile>
          <a href="#" data-sidebar-button>
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                />
              </svg>
            </span>
          </a>
        </div>
      </li>
    </ul>
  </section>
</nav>
