@mixin props {
  --fw: normal;
  --fst: normal;
  --lh: 1.7;
  --spc: initial;
  --mg: 0;
  --m: 0;
  --mx: 0;
  --my: 0;
  --pd: 0;
  --px: 0;
  --py: 0;
  --py-s: 0;
  --px-s: 0;
  --py-e: 0;
  --px-e: 0;
  --cl: inherit; // font-size
  --bg: initial;
  --bg-img: initial;
  --bdr: initial;
  --line: initial;
  --rds: initial;
  --bdr-w: thin;
  --bdr-s: solid;
  --bdr-cl: lightgray;
  --bdr-t: inherit;
  --bdr-b: inherit;
  --bdr-l: inherit;
  --bdr-r: inherit;
  --appearance: none;
  --link-cl: blue-royal-blue;
  --link-hover-cl: blue;
  --lt-min: min(90%, 1480px);
  --lt-max: max(90%, 1600px);
  --min-w-800: min(100%, calc(800rem / 16));
  --w-800: min(100%, calc(800rem / 16));
  --align: initial;
  --content-w: clamp(80vw, 90vw, 75vw);
}
