:root {
/* base CSS Vars */
--base-100: hsl(0, 0%, 99%);
--base-200: hsl(0, 0%, 95%);
--base-300: hsl(0, 0%, 90%);
--base-400: hsl(0, 0%, 82%);
--base-500: hsl(0, 0%, 72%);
--base-600: hsl(0, 0%, 61%);
--base-700: hsl(0, 0%, 47%);
--base-800: hsl(0, 0%, 33%);
--base-900: hsl(0, 0%, 18%);
/* Neutral CSS Vars */
--neutral-100: hsl(0, 0%, 93%);
--neutral-200: hsl(0, 0%, 87%);
--neutral-300: hsl(0, 0%, 79%);
--neutral-400: hsl(0, 0%, 71%);
--neutral-500: hsl(0, 0%, 62%);
--neutral-600: hsl(0, 0%, 55%);
--neutral-700: hsl(0, 0%, 48%);
--neutral-800: hsl(0, 0%, 39%);
--neutral-900: hsl(0, 0%, 27%);
/* Errors CSS Vars */
--errors-100: hsl(357, 59%, 93%);
--errors-200: hsl(356, 63%, 86%);
--errors-300: hsl(354, 66%, 78%);
--errors-400: hsl(353, 69%, 67%);
--errors-500: hsl(347, 82%, 48%);
--errors-600: hsl(347, 83%, 43%);
--errors-700: hsl(347, 82%, 37%);
--errors-800: hsl(347, 83%, 30%);
--errors-900: hsl(347, 83%, 21%);
/* Warning CSS Vars */
--warning-100: hsl(30, 100%, 95%);
--warning-200: hsl(33, 100%, 89%);
--warning-300: hsl(33, 100%, 83%);
--warning-400: hsl(36, 100%, 74%);
--warning-500: hsl(39, 100%, 61%);
--warning-600: hsl(39, 77%, 55%);
--warning-700: hsl(39, 64%, 47%);
--warning-800: hsl(40, 64%, 38%);
--warning-900: hsl(39, 64%, 27%);
/* Success CSS Vars */
--success-100: hsl(135, 29%, 92%);
--success-200: hsl(136, 30%, 83%);
--success-300: hsl(136, 32%, 72%);
--success-400: hsl(138, 36%, 60%);
--success-500: hsl(146, 75%, 38%);
--success-600: hsl(146, 76%, 34%);
--success-700: hsl(146, 76%, 29%);
--success-800: hsl(146, 75%, 24%);
--success-900: hsl(146, 76%, 17%);
/* Primary CSS Vars */
--primary-100: hsl(235, 86%, 95%);
--primary-200: hsl(236, 86%, 89%);
--primary-300: hsl(236, 87%, 82%);
--primary-400: hsl(235, 88%, 73%);
--primary-500: hsl(233, 90%, 60%);
--primary-600: hsl(233, 70%, 54%);
--primary-700: hsl(233, 60%, 46%);
--primary-800: hsl(233, 60%, 38%);
--primary-900: hsl(233, 60%, 27%);
/* Secondary CSS Vars */
--secondary-100: hsl(190, 50%, 93%);
--secondary-200: hsl(192, 55%, 85%);
--secondary-300: hsl(191, 58%, 77%);
--secondary-400: hsl(190, 61%, 66%);
--secondary-500: hsl(187, 100%, 42%);
--secondary-600: hsl(187, 100%, 37%);
--secondary-700: hsl(187, 100%, 32%);
--secondary-800: hsl(187, 100%, 26%);
--secondary-900: hsl(186, 100%, 18%);

}