/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/

@mixin props() {
  // * css custom properties
  --pd: 0;
  --py: .25rem;
  --px: .7rem;
  --fs: .7rem;
  --bg: whitesmoke;
  --bdr: none;
  --rds: 99rem;
  --red: ;
  --cl: inherit;
  @content;
}

@mixin rules {
  // * css rules/styles
  padding-inline: var(--px);
  color: var(--cl);
  padding-block: var(--py);
  font-size: var(--fs);
  border: var(--bdr);
  border-radius: var(--rds);
  background-color: var(--bg);

  @content;
}

@mixin styles {
  @content;
}

@mixin module {
  [role="note"] {
    @include props;
    @include rules;
  }
  @include styles;
}
