//***
//  ***************************************
//  FirsPaint
//  Author: Shawn Sandy
//  Date: 2021-04-01
//  ***************************************
// */
@mixin props() {
  // * css custom properties
  --beta: var(--fp-orange,  orange);
  --stable: var(--fp-green, green) ;
  --production: var(--fp-blue, royalblue);
  @content;
}

@mixin rules {
  // * css rules/styles
  padding-inline: var(--badge-px, 0.7rem);
  padding-block: var(--badge-py, 0.2rem);
  color: var(--badge-cl, currentColor);
  font-size: var(--badge-fs, 0.8rem);
  font-weight: var(--badge-fw, normal);
  border: var(--badge-brd, none);
  border-radius: var(--badge-rds, 99rem);
  background-color: var(--badge-bg, var(--badge, lightgray));
  text-decoration: var(--badge-decoration, none);
  text-transform: var(--badge-tt, var(--tt));
  font-weight: var(--badge-fw, 700);


  &[data-fp-badge~="beta"]{
    background-color: var(--beta);
  }

  &[data-fp-badge~="stable"] {
    --badge-cl: white;
    --badge-bg: var(--stable);
  }

  &[data-fp-badge~="production"] {
    --badge-cl: white;
    --badge-bg: var(--production);
  }

  &[data-fp-badge~="beta"] {
    --badge-cl:white;
    --badge-bg: var(--beta);
  }

  &[data-variant] {
    --vfs: .8rem;
    --vradius: 99rem;
    --vpx: 0.7rem;
    --vpy: 0.2rem;
    --badge-bg: var(--vbg);
    --badge-cl: var(--vcl);
    --badge-fs: var(--vfs);
  }

  @content;
}

@mixin styles {
  :not(span)[role="note"] {
    // @include props;
    --badge-bg: whitesmoke;
    --badge-rds: 1rem;
    --badge-px: 1.5rem;
    --badge-py: 1.5rem;
    --badge-note-tt: normal;
  }

  [style="--badge-bg"] {
    background-color: var(--badge, var(--badge-bg));
  }

  [style*="--badge-scale"],
  p[style*="--badge-scale"] {
    font-size: var(--badge-scale, 75%);
  }


  @content;
}

@mixin module {
  [style*="--badge"],
  [role="note"],
  [role="status"],
  p[role="note"],
  [data-fp-badge]
  {
    @include props;
    @include rules;
  }

  p[role="note"] {
    --badge-fw: normal;
  }
  @include styles;
}
