
@mixin props() {
  // * css custom properties
  --crumb-dsp: flex;
  --crumb-direction: row;
  --crumb-gap: 0.5rem;
  --crumb-style: none;
  --crumb-fs: var(--fs-3);
  --crumb-icon: "\002F";
  --crumb-cl: currentColor;
  @content;
}

@mixin rules {
  display: var(--crumb-dsp);
  direction: var(--crumb-direction);
  gap: var(--crumb-gap);
  list-style: var(--crumb-style);
  list-style: none;
  font-size: var(--crumb-fs);
  color: var(--crumb-cl);

  li {
    color: var(--crumb-cl);
    + li {
      color: currentColor;
      &::before {
        content: var(--crumb-icon, "\002F");
        color: currentColor;
      }
    }
  }

  // * css rules/styles
  @content;
}

@mixin styles {
  // * css style utilities

  @content;
}

@mixin module {
  nav > {
   :where(ol[aria-label], div[role="list"])  {
    @include props;
    @include rules;
  }
  }
  @include styles;
}
