//***
//  ***************************************
//  FirsPaint
//  Author: Shawn Sandy
//  Date: 2021-04-01
//  ***************************************
// */
@mixin props() {
  // * css custom properties
  @content;
}

@mixin rules {
  display: var(--crumb-dsp, flex);
  direction: var(--crumb-direction, row);
  gap: var(--crumb-gap, 0.5rem);
  list-style: var(--crumb-style, none);
  list-style: none;
  font-size: var(--crumb-fs,  var(--fs-2));
  color: var(--crumb-cl, currentColor);
  &::-webkit-details-marker {display: none; }

  li {
    color: var(--crumb-cl);
    + li {
      color: currentColor;
      &::before {
        content: var(--crumb-icon, "\002F");
        color: currentColor;
      }
    }
  }

  // * css rules/styles
  @content;
}

@mixin styles {
  // * css style utilities

  @content;
}

@mixin module {
  nav >, .fp-breadcrumb > {
   :where(ol[aria-label], div[role="list"])  {
    @include props;
    @include rules;
  }
  }
  @include styles;
}
