//***
//  ***************************************
//  FirsPaint
//  Author: Shawn Sandy
//  Date: 2021-04-01
//  ***************************************
// */
/* stylelint-disable declaration-colon-newline-after */

@mixin props {
  --btn-sm: calc(12rem / 16);
  --btn-md: calc(16rem / 16);
  --btn-lg: calc(21rem / 16);
  --btn-pill: 100rem;

  @content;
}

@mixin rules() {
  @include props;
  font-size: var(--btn-fs, calc(13rem / 16));
  min-height: calc(40rem / 16);
  place-items: var(--btn-place, center);
  padding-inline: var(--btn-px, 1.4rem);
  padding-block: var(--btn-py, calc(var(--btn-fs)  / 1.2 ));
  border: var(--btn-bdr, none);
  border-radius: var(--btn-rds, 0.15rem);
  text-decoration: var(--btn-deco, none);
  color: var(--btn-cl, currentColor);
  display: var(--btn-dsp, inline-flex);
  gap: var(--btn-gap, 1rem);
  white-space: var(--btn-wspc, nowrap);
  margin: var(--btn-spc, 0.25rem);
  transition: var(--tran-all);
  background-color: var(--btn-bg, var(--btn));
  outline: none;

  &[type]{
    background-color: var(--btn-bg, var(--btn, lightgray));
    --btn-bdr: solid var(--btn-sg);
  }
  &[type="submit"],
  &[style*="submit"] {
    --btn-bg: darkblue;
    --btn-color: white;
  }
  &[disabled], &[aria-disabled="true"] {
    cursor: var(--btn-cursor-disabled, not-allowed);
    opacity: var(--btn-opacity-disabled, 0.5);
  }

  // TODO: add hover/focus with :if()
  &:is(:hover, :focus) {
    --btn-bg: lightgray;
    --btn-cl: var(--btn-cl-hover);
    background-color: var(--btn-bg-over, var(--btn, lightgray));
    filter: invert(1) hue-rotate (180deg);
    transform: scale(0.95);
    outline: var(--line-bg, var(--btn-bg)) var(--line-width, thin) var(--line-style, solid);
    outline-offset: var(--line-offset, 5px);
  }

  &[type="reset"],
  &[style*="--btn-reset"] {
    --btn-bg: transparent;
    --btn-color: gray;
    --btn-bdr: gray thin solid;
  }
  &[type="submit"],
  &[style*="--btn-submit"] {
    --btn-bg: var(--blue-500);
    --btn-cl: #fff;
    --btn-color: rgb(231, 231, 231);
    --btn-border: none;
  }
  &[data-fp-btn~="pill"] {
    border-radius: 100rem;
  }

  @content;
}

@mixin styles {

}

@mixin module {
  button,
  [style*="--btn"],
  .fp-button,
  a[data-fp-btn],
  [role="button"] {
    @include rules;
  }
  @include styles;
}
