/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/

@mixin props() {
  --chk-bdr-w: thick;
  --chk-bdr-cl: transparent;
  --chk-accent: green;
  --chk-bg: darkgray;
  --chk-size: 1.2rem;
  --chk-appearance: none;
  --chk-rds: var(--rds);
  --lbl-me: 1rem;
  --lbl-dsp: flex;
  @content;
}

@mixin label() {
  --lbl-me: 1rem;
  --lbl-dsp: flex;
  --lbl-fs: 1rem;
  --lbl-align: normal;
  --lbl-gap: 0.5rem;
  --lbl-color: currentColor;
  --lbl-cursor: pointer;
  --lbl-height: auto;
  display: var(--lbl-dsp);
  flex-direction: var(--lbl-direction, row);
  align-items: var(--lbl-align);
  margin-inline-end: var(--lbl-me);
  gap: 0.3rem;
  cursor: pointer;
  height: auto;
  font-size: var(--lbl-fs, var(--fs));
  @content;
}

@mixin rules {
  --fs: var(--chk-size);
  display: var(--lbl-dsp);
  flex-direction: var(--lbl-direction, row);
  place-items: end normal;
  margin-inline-end: var(--lbl-me);
  gap: 0.3rem;
  cursor: pointer;
  max-height: var(--chk-size);
  font-size: var(var(--chk-fs), var(--fs));

  :where([id][type="checkbox"]) {
    appearance: var(--chk-appearance);
    -webkit-appearance: var(--chk-appearance);
    -moz-appearance: var(--chk-appearance);
    line-height: 1;
    // border-radius: var(--check-rds);
    // cursor: pointer;
    // margin: var(--chk-mg, 0);
    // width: var(--chk-size);
    // height: var(--chk-size);
    // accent-color: var(--chk-accent);
    // background-color: var(--chk-bg);
    // border: thick solid gray;

    &::before {
      --chk-bdr-cl: darkgreen;
      --check-bdr-w: thick;
      --chk-bdr: none;
      --chk-rds: var(--rds);
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--chk-size);
      height: var(--chk-size);
      border-style: var(--chk-bdr);
      border-width: var(--chk-bdr-w);
      border-color: var(--chk-bdr-cl);
      background-color: var(--chk-bg);
      border-radius: var(--chk-rds);
      transition: var(--tran-all);
    }

    &:checked {
      --chk-appearance: none;
      &::before {
      --chk-bdr: solid;
       border-color: var(--chk-bdr-cl);
       border-width: var(--chk-bdr-w);
       border-style: --chk-bdr-style;
       --chk-bg: yellowgreen;
      }
    }
  }
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
  :where(label[for]) {
    @include props;
    @include rules;
  }
}
