//***
//  ***************************************
//  FirsPaint
//  Author: Shawn Sandy
//  Date: 2021-04-01
//  ***************************************
// */
@mixin props() {
  @content;
}

@mixin label() {
  display: var(--lbl-dsp, flex);
  flex-direction: var(--lbl-direction, row);
  align-items: var(--lbl-align, normal);
  margin-inline-end: var(--lbl-me, 1rem);
  gap: var(--lbl-gap, 0.3rem) ;
  cursor: var(--lbl-cursor, pointer);
  height: var(--lbl-h, auto);
  font-size: var(--lbl-fs, var(--fs));
  @content;
}

@mixin rules {
  display: var(--lbl-dsp, flex);
  flex-direction: var(--lbl-direction, row);
  align-items: var(--chk-align, normal);
  margin-inline-end: var(--lbl-me, 1rem);
  gap: var(--chk-gap, 0.3rem );
  cursor: var(--lbl-cursor, pointer);
  max-height: var(--chk-size, 1.2rem);
  font-size: var(--chk-fs, 1rem);

  :where([id][type="checkbox"]) {
    appearance: var(--chk-appearance);
    -webkit-appearance: var(--chk-appearance);
    -moz-appearance: var(--chk-appearance);
    line-height: 1;

    &::before {

      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--chk-size, 1.2rem);
      height: var(--chk-size, 1.2rem);
      border-style: var(--chk-bdr, none);
      border-width: var(--chk-bdr-w, thick);
      border-color: var(--chk-bdr-cl, var(--fp-dark-green));
      background-color: var(--chk-bg, var(--fp-light-gray));
      border-radius: var(--chk-rds, var(--rds));
      transition: var(--tran-all);
    }

    &:checked {
      --chk-appearance: none;
      &::before {
      --chk-bdr: solid;
       border-color: var(--chk-bdr-cl);
       border-width: var(--chk-bdr-w, thick);
       border-style: --chk-bdr-style;
       --chk-bg: var(--fp-yellow-green);
      }
    }
  }

  &[data-variant] {
    --lbl-fs: var(--vfs);
    --lbl-cl: var(--vcl);
    --lbl-bg: var(--vbg);
  }
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
   .fp-checkbox[for], :where(label[for]){
    @include props;
    @include rules;
  }
}
