
@mixin props() {
  // * css custom properties

  @content;
}

@mixin rules {
  a {
    --link-border: none;
    color: var(--link-color, #0070f3);
    background-color: var(--link-bg);
    text-decoration: var(--link-decoration, none);
    border: var(--link-border);
    padding-inline: var(--link-px, 0.5rem);
    &:hover {
      --link-decoration: underline;
    }
    &:visited {
    }
    &:active {
    }

    &[role="button"],
    &[style="--btn"] {
      background-color: var(--link-bg);
    }
  }

  form {
    width: 100%;
    div + div {
      margin-block-start: var(--form-spc, 1.5rem);
    }
  }

  label[for] {
    + input,
    + textarea,
    + select {
      margin-block-start: 0.75rem;
      display: block;
    }
  }

  div,
  section {
    &:where([role="region"]) {
      width: 100%;
    }
  }
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
  @include props;
  @include rules;

  @include styles;
}
