/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/

@mixin props() {
  // * css custom properties

  @content;
}

@mixin rules {
  a {
    color: var(--link-color, #0070f3);
    text-decoration: var(--link-decoration, none);
    padding-inline: var(--link-px, .5rem);
    &:hover {
      --link-decoration: underline;
    }
    &:visited  {

    }
    &:active {

    }
  }

  form {
    width: 100%;
    div + div {
      margin-block-start: 1rem
    }
  }
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {

    @include props;
    @include rules;

  @include styles;
}
