//***
//  ***************************************
//  * FirsPaint
//  * Author: Shawn Sandy
//  * Date: 2021-04-01
//  ***************************************
// */
@mixin props() {
  // !Add props
}
@mixin rules {
  @include props;

  font-size: var(--detail-fs, 1rem);
  color: var(--detail-color, currentColor);
  background-color: var(--detail-bg, whitesmoke);
  border: var(--detail-border, none);
  border-radius: var(--details-rds, 0.5rem) ;
  width: var(--details, min(100%, 350px));

  :where(div, aside, p, ul) {
    padding: var(--summary-pd, 0 1rem 1rem 1rem);
    background-color: var(--detail-bg);
  }

  &[data-variant] {
    --detail-fs: var(--vfs);
    --detail-color: var(--vcl);
    --detail-bg: var(--vbg);
  }

  summary {
    display: flex;
    place-content: flex-start;
    place-items: center;
    gap: .7rem;
    justify-content: var(--summary-justify, space-between);
    font-size: var(--summary-fs, 1.1rem);
    color: var(--summary-color, currentColor);
    padding: var(--details-pd, 1rem);
    background-color: var(--summary-bg, transparent);
    list-style: var(--summary-ls, none);
    cursor: var(--detail-cursor, pointer);
    border-bottom: var(--summary-border, none);
    transition: all 0.2s ease;
    &::after {
      content: "\002B";
      font-size: 1.3rem;
      color: lightgray;
    }
    &:hover {
      &::after {
        transform: scale(1.1);
        // transform: rotate(60deg);
        color: currentColor;
      }
    }

    &[data-variant] {
      --summary-fs: var(--vfs);
      --summary-color: var(--vcl);
      --summary-bg: var(--vbg);
    }
  }

  &[open] > summary {
    &::after {
      content: "\00D7";
      transform: rotate(90deg);
    }
  }
}

@mixin styles {
  @content;
}

@mixin module {
  details, [data-fp-details] {
    @include rules;
  }
}
