//***
//  ***************************************
//  FirsPaint
//  Author: Shawn Sandy
//  Date: 2021-04-01
//  ***************************************
// */
@mixin props() {
  // * css custom properties
  @content;
}

@mixin rules {
  display: var(--footer-dsp, flex);
  flex-direction: var(--footer-direction, column);
  font-size: var(--footer-fs, var(--fs-2));

  p {
    --p-fs: var(--footer-fs, var(--fs));
  }
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
  footer,
  .fp-footer,
  [role="contentinfo"] {
    &:not([aria-label], [role="footer"]) {
      @include props;
      @include rules;
    }
  }
  @include styles;
}
