//***
//  ***************************************
//  FirsPaint
//  Author: Shawn Sandy
//  Date: 2021-04-01
//  ***************************************
// */
@mixin props() {
  // * css custom properties
  @content;
}

@mixin rules {
  display: var(--footer-dsp, flex);
  flex-direction: var(--footer-direction, column);
  font-size: var(--footer-fs, var(--fs-3));

  >p {
    text-align: var(--fp-align, center);
  }

  p,
  section p {
    font-size: var(--footer-fs, var(--fs-3));
  }

  &[data-variant] {
    --footer-fs: var(--vfs);
    --footer-cl: var(--vcl);
    --footer-bg: var(--vbg);
  }

  >section {
    width: var(--content-w);
    padding-block: var(--footer-py, var(--spc-md));
  }

  >div {
    --text-align: center;
    font-size: var(--fs-3);
    text-align: var(--text-align)
  }

  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {

  footer,
  [data-footer],
  [role="contentinfo"] {
    &:not([aria-label], [role="footer"]) {
      @include props;
      @include rules;
    }
  }

  @include styles;
}
