
@mixin props() {
  // * css custom properties
  --fs: 0.9rem;
  --footer-fs: 0.9rem;
  // --footer-bg: lightgray;
  --footer-dsp: flex;
  --footer-direction: column;

  @content;
}

@mixin rules {
  display: var(--footer-dsp);
  flex-direction: var(--footer-direction);
  font-size: var(--footer-fs, var(--fs));

  p {
    --p-fs: var(--footer-fs, var(--fs));
  }
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
  footer,
  [role="contentinfo"] {
    &:not([aria-label], [role="footer"]) {
      @include props;
      @include rules;
    }
  }
  @include styles;
}
