//***
//  ***************************************
//  FirsPaint
//  Author: Shawn Sandy
//  Date: 2021-04-01
//  ***************************************
// */
@mixin props() {
  @content;
}

@mixin rules {

  max-inline-size: 100%;
  object-fit: var(--img-obj-fit, cover);
  block-size: auto;
  object-position: var(--img-position, center center);
  aspect-ratio: var(--img-ratio, 16/9);

  &[width][height] {
    height: var(--img-h, auto);
  }

  &[src$=".svg"] {
    height: auto;
    max-width: auto;
    object-fit: var(--img-obj-fit, auto);
  }

  +* {
    margin-block: 1rem 0;
  }

  &[data-variant] {
    background-color: var(--vbg);
    color: var(--vcl);
    font-size: var(--vfs);
  }

  &[data-variant~="my-spacer"] {
    margin-block-end: min(1rem, 1.3rem);
  }


}

@mixin figure-rules {
  @include props();

  max-width: var(--pic-max-w, 100%);
  width: var(--pic-w, auto);
  display: var(--pic-dsp, flex);
  flex-direction: var(--pic-flex-dir, column);
  place-content: var(--place-x, center);
  place-items: var(--place-y, center);
  height: var(--pic-h, auto);
  padding-block: var(--pic-py, 0.5rem);
  padding-inline: var(--pic-px, 0.5rem);
}

@mixin figcaption-rules {
  @include props();
  font-size: var(--fcap-fs, inherit);
  display: var(--fcap-dsp, flex);
  place-content: var(--place-x, flex-start);
  place-items: var(--place-y, center);
  padding-block: var(--fcap-py, 0.5rem);
  padding-inline: var(--fcap-px, 0.5rem);
}

@mixin styles {}

@mixin module {

  img[alt],
  [data-img] {
    @include props;
    @include rules;
  }

  picture,
  figure {
    @include figure-rules;
  }

  figcaption {
    @include figcaption-rules;
  }
}