//***
//  ***************************************
//  FirsPaint
//  Author: Shawn Sandy
//  Date: 2021-04-01
//  ***************************************
// */

@mixin props() {
  // * css custom properties
  --input-appearance: none;
  @content;
}

@mixin rules {

  background-color: var(--input-cl);
  font-size: var(--input-fs, 1rem);
  font-weight: var(--input-fw, normal);
  border-width: var(--input-bdr-w, thin);
  border-style: var(--input-bdr-style, solid);
  border-color: var(--input-bdr-color, var(--fp-light-gray, currentColor));
  padding-inline: var(--input-px, .6rem);
  padding-block: var(--input-py, .4rem);
  width: var(--input-min-w, min(100%, calc(800rem /16)));
  border-radius: var(--input-bdr-radius, .1rem);
  -webkit-appearance: var(--input-appearance);
  -moz-appearance: var(--input-appearance);
  appearance: var(--input-appearance);
  border: var(--input-bdr-color, currentColor) var(--input-bdr-style, solid) var(--input-bdr-w, thin);
  // * css rules/styles
  &::placeholder {
    font-style: italic;
    --input-fs: .5rem;
  }

  &[data-variant] {
    --vfs: .8rem;
    --vcl: var(--fp-light-gray);
    --input-fs: var(--vfs);
    --input-cl: var(--vcl);
    --input-bg: var(--vbg);
  }
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
  input[type], input[type]:not([type="checkbox"], [type="radio"]),
  .fp-input[id][type]:not([type="checkbox"], [type="radio"])
   {
    @include props;
    @include rules;
  }
  @include styles;
}
