//***
//  ***************************************
//  FirsPaint
//  Author: Shawn Sandy
//  Date: 2021-04-01
//  ***************************************
// */

@mixin props() {
  // * css custom properties
  --listOff: ; // turn off list features


  @content;
}

@mixin rules {
  // * css rules/styles
   list-style: var(--list-s, inside);
   font-size: var(--list-fs, .95rem);
   line-height: var(--list-lh, 1.5);
   padding-inline-start: var(--list-pxs, 1.5rem);
  @content;
}

@mixin styles {
  // * css style utilities
  [style*="--listOff"] {
    // turn off several list features all at once
    --list-s: var(--listOff, none);
    --list-pxs: var(--listOff, 5px);
  }

  [data-fp-list~="unstyled"] {}
  @content;
}

@mixin module {
  ul, [style*="--list"], [data-fp-list] {
    @include props;
    @include rules;
  }
  @include styles;
}
