/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/

@mixin props() {
  // * css custom properties
  --list-off: ; // turn off list features
  --list-s: inside;
  --list-fs: .95rem;
  --list-lh: 1.5;
  --list-pxs: 1.5rem;

  @content;
}

@mixin rules {
   list-style: var(--list-s);
   font-size: var(--list-fs);
   line-height: var(--list-lh);
   padding-inline-start: var(--list-pxs);
  // * css rules/styles
  @content;
}

@mixin styles {
  // * css style utilities
  [style*="--list-off"] {
   // turn off list features all at once
   --list-s: var(--list-off, none);
   --list-pxs: var(--list-off, 0);
  }
  @content;
}

@mixin module {
  ul, [style*="--list"] {
    @include props;
    @include rules;
  }
  @include styles;
}
