/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/

@mixin props() {
  // * css custom properties
  @content;
}

@mixin rules {


  [data-content] {
    display: var(--main-display, flex);
    gap: var(--main-gap, 1rem);

    article {
      min-width: min(calc(720rem / 16), 100%);
    }

    [sidebar],
    aside {
      width: var(--sidebar-w, clamp(100%, 20%, 30%));
    }
  }

  // * css rules/styles
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
  main {
    @include props;
    @include rules;
  }

  @include styles;
}
