/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/

@mixin props() {
  // * css custom properties
  @content;
}

@mixin rules {


  [data-content] {
    @media (min-width: 768px) {
      display: block;
    }
    display: var(--main-display, block);
    gap: var(--main-gap, 2rem);

    [sidebar],
    aside {
      width: var(--sidebar-w, clamp(100%, 20%, 30%));
      min-width: 30vw;
    }
  }

  // * css rules/styles
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
  main {
    @include props;
    @include rules;
  }

  @include styles;
}
