//***
//  ***************************************
//  FirsPaint
//  Author: Shawn Sandy
//  Date: 2021-04-01
//  ***************************************
// */

@mixin props() {

  @content;
}

@mixin rules {
  @include props;

  display: var(--nav-dsp, flex);
  flex-direction: var(--nav-direction, row);
  width: var(--nav-w, auto);
  height: var(--nav-h, calc(50rem / 16));
  place-items: var(--nav-align, center);
  justify-content: var(--nav-justify, space-between);
  margin-inline: var(--nav-mx, 0);
  padding-inline: var(--nav-px, 1rem);
  background-color: var(--nav-bg, initial);

  >section,
  >ul {
    --nav-dsp: flex;
    display: var(--nav-dsp, flex);
    gap: var(--nav-gap, 0);
    font-size: var(--nav-fs, 0.9rem);
    align-items: var(--nav-align, center);
    padding-inline: var(--nav-px, 1rem);
    height: 100%;
  }

  >section {
    >div {
      --py: 0;
    }
  }

  ul {
    >li {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      min-height: 100%;
      padding-inline: var(--nav-px, .75rem);

      &:hover {
        background-color: var(--nav-hov-bg, whitesmoke);
      }
    }
  }

  img[alt] {
    --px: 0 var(--s1);
    --w: var(--brand-w, 3.6rem);
  }

  &[data-variant] {
    background-color: var(--nav-bg);
    color: var(--nav-cl);
    font-size: var(--nav-fs, 0.9rem);
  }

  @content;
}

@mixin styles {
  @content;
}

@mixin module {

  nav,
  [data-fp-nav],
  [role="navigation"] {
    @include rules();
  }
}