/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/

@mixin props() {
  --nav-dsp: flex;
  --nav-direction: row;
  --nav-w: 100%;
  --nav-h: calc(50rem / 16);
  --nav-align: center;
  --nav-justify: space-between;
  --nav-mx: auto;
  --nav-bg: whitesmoke;
  @content;
}

@mixin rules {
  @include props;

  display: var(--nav-dsp, var(--dsp));
  flex-direction: var(--nav-direction, var(--direction));
  width: var(--nav-w, var(--w));
  height: var(--nav-h, var(--h));
  align-items: var(--nav-align, var(--align));
  justify-content: var(--nav-justify, var(--justify));
  margin-inline: var(--nav-mx, var(--mx));
  background-color: var(--nav-bg, var(--bg));

  @media (min-width: calc(980rem / 16)) {
    // --max-w: var(--container-md, var(--pct-8));
    --px: calc(10% - 1rem);
  }

  @media (max-width: calc(700rem / 16)) {
    --dsp: block;
    --w: 100%;
    --h: auto;
    --py: var(--rem);
    --justify: center;
  }

  > section,
  > ul {
    --nav-dsp: flex;
    --nav-align: center;
    --nav-gap: 0.5rem;
    --nav-px: 1rem;

    display: var(--nav-dsp, var(--dsp));
    gap: var(--nav-gap, var(--gap));
    font-size: var(--nav-fs, 0.9rem);
    padding-block: var(--nav-py, var(--py));
    padding-inline: var(--nav-px, var(--px));
    align-items: var(--nav-align, var(--align));
    width: 100%;
    height: 100%;
  }
  > section {
    > div {
      --py: 0;
    }
  }
  ul {
    > li {
      --py: 0;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  img[alt] {
    --px: 0 var(--s1);
    --w: var(--brand-w, 3.6rem);
  }
  @content;
}

@mixin module {
  nav {
    @include rules();
  }
}
