//***
//  ***************************************
//  FirsPaint
//  Author: Shawn Sandy
//  Date: 2021-04-01
//  ***************************************
// */


@use '../tokens/tokens';

@mixin props() {
  // * css custom properties

  @include tokens.globals-props();
  @include tokens.layout-props();
  @include tokens.type-props();
  @include tokens.hsl-props();
  --tran-all: all .2s ease-in;
  @content;
}

@mixin rules {

  font-size: var(--fs, 1rem);
  font-weight: var(--fw);
  font-style: var(--fst);
  font-family: var(--ff);
  color: var(--cl);
  background-color: var(--bg);
  background-image: var(--bg-img);
  border: var(--bdr);
  outline: var(--line);
  text-align: var(--align);
  margin: var(--spc);

  // prefix rules
  --clip-path: initial;
  -webkit-clip-path: var(--clip-path);
  clip-path: var(--clip-path);
  // * css rules/styles
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
  :root {
    @include props;
  }
  * {
    @include rules;
  }
  @include styles;
  @include tokens.hsl-styles;
}
