/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/

@mixin props() {
  // * css custom properties
  @content;
}

@mixin rules {
  @include props;
  --fs: 100%;
  --fw: normal;
  --fst: normal;
  --lh: 1.7;
  --spacing: 0.5rem;
  --mg: 0;
  --pd: 1rem;
  --cl: inherit; // font-size
  --bg: initial;
  --bg-img: initial;
  --bdr: initial;
  --line: initial;
  --rds: initial;
  --appearance: none;

  font-size: var(--fs);
  font-weight: var(--fw);
  font-style: var(--fst);
  font-family: var(--ff);
  color: var(--cl);
  background-color: var(--bg);
  background-image: var(--bg-img);
  border: var(--border);
  outline: var(--line);
  border-radius: var(--rds);

  // * responsive fonts sizes
  // 16px default
  --fs-0: clamp(0.688rem, 4vw - 1.5rem, 1rem);
  // 12px
  --fs-1: clamp(0.32rem, 1.3vw + 0.25rem, 0.75rem);
  // 14px
  --fs-2: clamp(0.5rem, 2vw - 0.5rem, 0.875rem);
  // 18px
  --fs-3: clamp(0.563rem, 2vw - 0.25rem, 1.125rem);
  // 21px
  --fs-4: clamp(0.75rem, 2vw - 0.25rem, 1.313rem);
  // 25px
  --fs-5: clamp(0.938rem, 2vw - 0.25rem, 1.563rem);
  // 32px
  --fs-6: clamp(1.1rem, 2vw + 0.75rem, 2rem);
  // 38px
  --fs-7: clamp(1.5rem, 4vw - 0.25rem, 2.375rem);
  // 48px
  --fs-8: clamp(1.75rem, 4vw + 0.25rem, 3rem);
  // 64px
  --fs-9: clamp(2rem, 4vw + 1.25rem, 4rem);
  // 72px
  --fs-10: clamp(4rem, 5vw + 2rem, 4.5rem);
  // 81px
  --fs-11: clamp(3.75rem, 5vw + 1.75rem, 5.063rem);
  // 101px
  --fs-12: clamp(5.063rem, 5vw + 3rem, 6.375rem);

  // headings

  // h1
  --h1: var(--fs-10);
  // h2
  --h2: var(--fs-9);
  // h3
  --h3: var(--fs-8);
  // h4
  --h4: var(--fs-7);
  //h5
  --h5: var(--fs-6);
  // h6
  --h6: var(--fs-5);

  // prefix rules
  --clip-path: initial;
  -webkit-clip-path: var(--clip-path);
  clip-path: var(--clip-path);


  // -webkit-appearance: var(--appearance);
  // appearance: var(--appearance);
  // -moz-appearance: var(--appearance);

  // * css rules/styles
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
  * {
    @include rules;
  }
  @include styles;
}
