
@use "./checkbox";

@mixin props() {
  // * css custom properties
  --rdo-bdr: none;
  --rdo-bdr-w: medium;
  --rdo-bdr-cl: transparent;
  --rdo-bg: darkgray;
  --rdo-appearance: none;
  --rdo-rds: 99rem;
  --rdo-size: 1.2rem;
  @content;
}

@mixin rules {
  // * css rules/styles
  @include checkbox.label();
  max-height: var(--rdo-size);
  + label {
    margin-block-start: .8rem;
  }
  :where([id][type="radio"]) {
    appearance: var(--rdo-appearance);
    -webkit-appearance: var(--rdo-appearance);
    -moz-appearance: var(--rdo-appearance);
    border-radius: var(--check-rds);
    cursor: pointer;
    margin: 0;
    line-height: 1;
    // transition: var(--tran-all);

    &::before {
      --rdo-bdr-cl: lightgray;
      --rdo-bdr-w: initial;
      transition: var(--tran-all);
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: var(--rdo-size);
      min-height: var(--rdo-size);
      margin: 0;
      // border: var(--rdo-bdr, none);
      border-style: var(--rdo-bdr);
      border-width: var(--rdo-bdr-w);
      border-color: var(--rdo-bdr-cl);
      background-color: var(--rdo-bg);
      border-radius: var(--rdo-rds);
    }

    &:checked {
      --rdo-appearance: none;
      &::before {
        --rdo-bdr-s: solid;
        --rdo-bdr-w: thick;
        --rdo-bdr-cl: var(--green-dark-green);
        --rdo-bg: var(--green-yellow-green);
        border-color: var(--rdo-bdr-cl);
        border-width: var(--rdo-bdr-w);
        border-style: var(--rdo-bdr-s);
      }
    }
  }
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
  :where(label[for]) {
    @include props;
    @include rules;
  }
  @include styles;
}
