
@use "./checkbox";

@mixin props() {
  // * css custom properties
  --rdo-appearance: none;
  @content;
}

@mixin rules {
  // * css rules/styles
  @include checkbox.label();
  max-height: var(--rdo-size, 1.2rem);
  + label {
    margin-block-start: .8rem;
  }
  :where([id][type="radio"]) {
    appearance: var(--rdo-appearance, none);
    -webkit-appearance: var(--rdo-appearance, none);
    -moz-appearance: var(--rdo-appearance, none);
    border-radius: var(--check-rds, 99rem);
    cursor: pointer;
    margin: 0;
    line-height: 1;
    // transition: var(--tran-all);

    &::before {
      --rdo-bdr-cl: lightgray;
      --rdo-bdr-w: initial;
      transition: var(--tran-all);
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: var(--rdo-size, 1.2rem);
      min-height: var(--rdo-size, 1.2rem);
      margin: 0;
      // border: var(--rdo-bdr, none);
      border-style: var(--rdo-bdr, solid);
      border-width: var(--rdo-bdr-w, thick);
      border-color: var(--rdo-bdr-cl, var(--fp-light-gray));
      background-color: var(--rdo-bg, var(--fp-light-gray));
      border-radius: var(--rdo-rds, 99rem);
    }

    &:checked {
      --rdo-appearance: none;
      &::before {
        --rdo-bdr-s: solid;
        --rdo-bdr-w: thick;
        --rdo-bdr-cl: var(--fp-dark-green);
        --rdo-bg: var(--fp-yellow-green);
        border-color: var(--rdo-bdr-cl, var(--fp-dark-green));
        border-width: var(--rdo-bdr-w, thick);
        border-style: var(--rdo-bdr-s, none);
      }
    }
  }
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
.fp-radio[for], :where(label[for])  {
    @include props;
    @include rules;
  }
  @include styles;
}
