//***
//  ***************************************
//  FirsPaint
//  Author: Shawn Sandy
//  Date: 2021-04-01
//  ***************************************
// */

@mixin props() {
  // * css custom properties
  @content;
}

@mixin rules {
  max-height: var(--scroll, 50vh);
  overflow-y: var(--overflow-y, auto);
  overflow-x: var(--overflow-x, auto);
  scrollbar-width: var(--scroll-size, thin);

  >* {
    padding: 10px;
  }

  &::-webkit-scrollbar {
    width: var(--scroll-w, 0.5rem);
    height: var(--scroll-h, 0.5rem);
    transition: opacity 500ms ease;
  }

  &::-webkit-scrollbar-track {
    /* Background */
    background: var(--scroll-track-bg, lightgray);

  }

  &::-webkit-scrollbar-thumb {
    /* Foreground */
    background: var(--scroll-bg, gray);

  }

  &[data-variant] {
    --scroll: var(--vscroll);
    --overflow-y: var(--voverflow-y);
    --overflow-x: var(--voverflow-x);
    --scroll-size: var(--vscroll-size);
    --scroll-w: var(--vscroll-w);
    --scroll-h: var(--vscroll-h);
    --scroll-track-bg: var(--vscroll-track-bg);
    --scroll-bg: var(--vscroll-bg);
  }

  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {

  [style*="--scroll"],
  div[role="region"],
  [data-fp-scroll],
  [data-scroll] {
    @include props;
    @include rules;
  }

  @include styles;
}