/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/

@mixin props() {
  // * css custom properties
  --scroll-w: 0.5rem;
  --scroll-h: 0.5rem;
  --scroll-size: thin;
  --scroll-bg: lightgray;
  --scroll-track-bg: gray;
  --overflow-x: auto;
  --overflow-y: auto;

  @content;
}

@mixin rules {
  height: var(--scroll, 40vh);
  overflow-y: var(--overflow-y);
  overflow-x: var(--overflow-x);
  scrollbar-width: var(--scroll-size);

  > * {
    padding: 10px;
  }

  &::-webkit-scrollbar {
    width: var(
      --scroll-w
    );
    height: var(--scroll-h);
    transition: opacity 500ms ease;
  }
  &::-webkit-scrollbar-thumb {
    /* Foreground */
    background: var(--scroll-bg);

  }
  &::-webkit-scrollbar-track {
    /* Background */
    background: var(--scroll-track-bg);

  }
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
  [style*="--scroll"] {
    @include props;
    @include rules;
  }
  @include styles;
}
