/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/

@mixin props() {
  // * css custom properties
  --slt-dsp: grid;
  --slt-align: center;
  --slt-justify: space-between;
  --slt-min-w: min(100%, 90vw);
  --slt-fs: 1rem;
  --slt-cl: currentColor;
  --slt-bdr-style: solid;
  --slt-bdr-w: thin;
  --slt-bdr-cl: lightgray;
  --slt-px: 0.5rem;
  --slt-py: 0.5rem;
  --slt-appearance: none;
  @content;
}

@mixin icons {
  --slt-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Ctitle%3Eic_keyboard_arrow_down_24px%3C/title%3E%3Cg fill='%23000000'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  --bg-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Ctitle%3Eic_keyboard_arrow_down_24px%3C/title%3E%3Cg fill='%23696969'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  --bg-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Ctitle%3Eic_keyboard_arrow_down_24px%3C/title%3E%3Cg fill='%23f1f1f1'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

@mixin rules {
  // * css rules/styles
  display: var(--slt-dsp);
  place-items: var(--slt-align);
  place-content: var(--slt-justify);
  min-width: var(--slt-min-w);
  min-height: 40px;
  font-size: var(--slt-fs, 1rem);
  color: var(--slt-cl, currentColor);
  background-color: var(--slt-bg, whitesmoke);
  background: var(--slt-bg);
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: right .8rem top 50%;
  border-style: var(--slt-bdr-style);
  border-width: var(--slt-bdr-w);
  border-color: var(--slt-bdr-cl);
  padding-inline: var(--slt-px);
  padding-block: var(--slt-py);
  -moz-appearance: var(--slt-appearance);
  -webkit-appearance: var(--slt-appearance);
  appearance: var(--slt-appearance);
  padding-right: 30px;

  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
  select {
    @include props;
    @include icons;
    @include rules;
  }
  select * {
    padding-inline: var(--slt-px);
  }
  @include styles;
}
