/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/

@mixin props() {
  // * css custom properties
  --slt-dsp: grid;
  --slt-align: center;
  --slt-justify: space-between;
  --slt-min-w: min(350px, 100%);
  --slt-fs: 1rem;
  --slt-cl: currentColor;
  --slt-bg: none;
  --slt-bdr-style: solid;
  --slt-bdr-w: thin;
  --slt-bdr-cl: lightgray;
  --slt-px: 0.5rem;
  --slt-py: 0.5rem;
  --slt-appearance: none;
  --slt-bg: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E';

  @content;
}

@mixin rules {
  // * css rules/styles
  display: var(--slt-dsp);
  place-items: var(--slt-align);
  place-content: var(--slt-justify);
  min-width: var(--slt-min-w);
  min-height: 40px;
  font-size: var(--slt-fs, 1rem);
  color: var(--slt-cl, currentColor);
  background-color: var(--slt-bg, whitesmoke);
  border-style: var(--slt-bdr-style);
  border-width: var(--slt-bdr-w);
  border-color: var(--slt-bdr-cl);
  padding-inline: var(--slt-px);
  padding-block: var(--slt-py);
  -moz-appearance: var(--slt-appearance);
  -webkit-appearance: var(--slt-appearance);
  appearance: var(--slt-appearance);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, transparent 0%, transparent 0%);
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: right .8rem top 50%;
  &::after {
    content:"";
    min-width: 0;
    min-height: 0;
    border: 7px solid transparent;
    border-color: gray transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
  select {
    @include props;
    @include rules;
  }
  @include styles;
}
