/**
 * **************************************
 *  FirsPaint
 *  Author: Shawn Sandy
 *  Date: 2021-04-01
 * **************************************
 * @format
 */

@mixin props() {
  /*  css custom properties */
  --mx: var(--sm-x);
  --my: 0;
  --collapse: collapse;
  --border-w: thin;
  --border-s: solid;
  --border-cl: var(--light);

  @content;
}

@mixin rules {
  @include props;

  border-collapse: var(--tbl-collapse);
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: var(--tbl-width, 100%);
  width: var(--tbl-width, 100%);
  border: var(--tbl-border, thin solid lightgray);
  display: var(--tbl-dsp, table);
  /* box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.15); */

  thead tr {
    --text-align: left;
    background-color: var(--tb-bg, lightgray);
    text-align: var(--text-align);
    border-bottom: var(
      --tbl-head-border,
      var(--tb-border) var(--tb-border-w),
      var(--tb-border-color)
    );
  }

  th,
  td {
    --py: 0.5rem;
    --px: 0.75rem;
    padding-block: var(--py);
    padding-inline: var(--px);
  }

  // tbody tr {
  // }

  tr:nth-of-type(even) {
    background-color: var(--tb-bg, whitesmoke);
  }

  tbody tr:last-of-type {
    --tbl-border: medium solid var(--tb-border-color);
    border-bottom: var(--tbl-border);
  }

  @content;
}

@mixin styles {
  @content;
}

/**
* tag or classname name nav, .nav
*/
@mixin module {
  table {
    @include rules;
  }

  @include styles;
}
