/**
 * **************************************

 */

@use "sass:color";
@mixin props() {
  /*  css custom properties */
  --spc: 0;
  --mx: var(--sm-x);
  --my: 0;
  --tbl-collapse: collapse;
  --tbl-bdr-w: thin;
  --tbl-bdr-s: none;
  --tbl-bdr-cl: var(--light);
  --tbl-rds: 0.5rem;
  --tbl-td-py: 1rem;
  --tbl-td-px: 1rem;
  --bdr: none;
  --rds: 1rem;
  --tbl-cap-bg: transparent;
  --tbl-hd-bg: whitesmoke;
  --tbl-cap-fs: var(--fs);
  --tbl-cap-pd: 1rem;
  --tbl-cap-rds: .5rem;
  --tbl-cap-bdr: solid thin lightgray;;

  @content;
}

@mixin rules {
  @include props;
  display: table;

  font-size: var(--tbl-fs, 0.9em);
  font-family: var(--fs, sans-serif);
  width: var(--tbl-width, calc(100% - 0rem));
  border-collapse: var(--tbl-collapse);
  // border: var(--bdr-s) var(--bdr-cl) var(--bdr-w);
  display: var(--tbl-dsp, table);
  border-radius: var(--tbl-rds, 16px);
  border-spacing: 0;
  overflow: auto;

  caption {
    --fs: var(--fs-4);
    --align: center;
    $bg: var(--tbl-cap-bg);
    background-color: var(--tbl-cap-bg);
    padding: var(--tbl-cap-pd);
    // border: var(--tbl-cap-bdr);
    // filter: saturate(white-smol, 5%);
    // border-top-left-radius: var(--tbl-cap-rds);
    // border-top-right-radius: var(--tbl-cap-rds);
  }

  thead {
    position: sticky;
    top: 0;
    z-index: 1;
    border: var(--tbl-cap-bdr);
  }

  thead tr {
    --text-align: left;
    --fw: 500;
    background-color: var(--tbl-hd-bg);
    text-align: var(--text-align);
    border-bottom: var(--tbl-bdr);
  }

  th,
  td {
    padding-block: var(--tbl-td-py);
    padding-inline: var(--tbl-td-px);
  }

  tr {
    background-color: white;
    border-bottom: var(--bdr-s) var(--bdr-cl) var(--bdr-w);
    // border-bottom: solid 1px black;
    &:nth-of-type(even) {
      //background-color: var(--tb-bg, whitesmoke);
      --tbl-bdr-s: solid;
    }

    td {
      padding: 1rem;
    }
  }
  tbody tr:last-of-type {
    border-bottom: var(--bdr-s) var(--bdr-cl) var(--bdr-w);
    // border-bottom: none;
  }

  @content;
}

@mixin styles {
  @content;
}

/**
*
*/
@mixin module {
  table {
    @include rules;
  }
  @include styles;
}
