/**
 * **************************************
 *  FirsPaint
 *  Author: Shawn Sandy
 *  Date: 2021-04-01
 * **************************************
 * @format
 */

@mixin props() {
  /*  css custom properties */
  --mx: var(--sm-x);
  --my: 0;
  --tbl-collapse: collapse;
  --tbl-bdr-w: thin;
  --tbl-bdr-s: none;
  --tbl-bdr-cl: var(--light);
  --tbl-rds: .5rem;
  --tbl-td-py: 1rem;
  --tbl-td-px: 1rem;

  @content;
}

@mixin rules {
  @include props;

  display: table;
  font-size: var(--tbl-fs, 0.9em);
  font-family: var(--fs, sans-serif);
  width: var(--tbl-width, calc(100% - 1rem));
  border-collapse: var(--tbl-collapse);
  border: var(--tbl-bdr);
  display: var(--tbl-dsp, table);
  border-radius: var(--tbl-rds);

  thead tr {
    --text-align: left;
    background-color: var(--tb-bg, whitesmoke);
    text-align: var(--text-align);
    border-bottom: var(--tbl-bdr,  solid lightgray thin);
  }

  th,
  td {
    padding-block: var(--tbl-td-py);
    padding-inline: var(--tbl-td-px);
  }

  tr {
    background-color: white;
  &:nth-of-type(even) {
    background-color: var(--tb-bg, whitesmoke);
  }

  }
  tbody tr:last-of-type {
    --tbl-bdr: medium solid var(--tb-bdr-color);
    border-bottom: none;
  }


  @content;
}

@mixin styles {
  div[style*="--tbl"] {
    --spc: .5rem;
    --rds: .5rem;
    padding: var(--spc);
    overflow: auto;
    width: 100%;
    background-color: whitesmoke;
    border-radius: var(--rds);
  }
  @content;
}

/**
* tag or classname name nav, .nav
*/
@mixin module {
  table {
    @include rules;
  }
  @include styles;
}
