/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/

@mixin props() {
  // * css custom properties
  --tip-bg: black;
  --tip-cl: white;
  --tip-rds: 0.5rem;
  --tip-cubic: cubic-bezier(0.64, 0.09, 0.08, 1);
  --tip-cursor: pointer;
  --tip-opacity: 0.9;
  @content;
}

@mixin rules {
  position: relative;
  cursor: var(--tip-cursor);
  &:after {
    background: var(--tip-bg);
    color: var(--tip-cl);
    border-radius: var(--tip-rds);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(aria-label);
    padding: 6px 10px;
    top: 1.4em;
    left: 50%;
    transform: translateX(-50%) translateY(-2px);
    white-space: nowrap;
    z-index: 2;
    transition: opacity 0.2s var(--tip-cubic),
    transform 0.2s var(--tip-cubic);
  }
  &:hover {
    &:after {
      display: block;
      opacity: var(--tip-opacity);
      visibility: visible;
      transform: translateX(-50%) translateY(0);
    }
  }
  @content;
}

@mixin styles {
  // * css style utilities
  @content;
}

@mixin module {
  [role="tooltip"], [style*="--tip"] {
    @include props;
    @include rules;
  }
  @include styles;
}
