$font-family: Roboto, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji" !default;

html,
body {
  font-family: $font-family;
}

main, header, footer {
  font-size: var(--fs);
  > section {
    width: var(--lt-min);
    margin-inline: auto;
  }
}

section:not(nav) {
  margin-inline: var(--sect-y, auto);
  padding-block: var(--sect-x, --spc-4);
}

hr {
  width: var(--hr-w, 100%) ;
  height: var(--hr-h, .05rem) ;
  background-color: var(--hr-bg, lightgray);
  border: none;
  margin-block: var(--hr-py, 3rem);
  margin-inline: var(--hr-px, 0);
}

