$font-family: Roboto, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji" !default;

html,
body {
  font-family: $font-family;
}

main, header, footer {
  font-size: var(--fs);
  > section {
    width: var(--lt-min);
    margin-inline: auto;
  }
}

section:not(nav) {
  margin-inline: auto;
  padding-block: var(--fs-2);
}

hr {
  width: 100%;
  height: .05rem;
  background-color: lightgray;
  border: none;
  margin-block: 3rem;
}

