/** banner.scss */

[role="banner"],
[style*="--bnr"] {
  // custom properties
  --bnr-sm: 30vh;
  --bnr-md: 50vh;
  --bnr-lg: 80vh;
  --bg: var(--bnr-bg, transparent);
  --dsp: flex;
  --align: var(--bnr-align, center);
  --justify: var(--bnr-justify, center);
  --min-h: var(--bnr-h, var(--bnr-md));
  --max-w: var(--pct-8);
  --py: var(--bnr-px, var(--rem));
  --px: var(--bnr-py, var(--rem));
  --mx: var(--bnr-mx, auto);
  > * {
    --tx-align: var(--bnr-tx-align, center);
  }

  [style*="--btn:"] {
    --fs: var(--btn-fs, var(--rem));
    --h: var(--bnr-btn-h, var(--s6));
  }
}

[style*="--bnr-h"] {
  --min-h: var(--bnr-h);
}
